[2016-02-15 19:26] #1866 closed

[2016-02-15 19:26] AMBudnik commented on #2242
related: https://github.com/handsontable/handsontable/issues/2925

[2016-02-15 23:37] alvarotrigo commented on #3230
I don't know the concept of `trimCols` or `trimRows`, but if by that you mean, hidden rows or columns that are not actually represented in the grid (and therefore can not be extracted with `getData`), yep, there is.

Whenever we do `setDataAtRowProp` using a property name of a column which is not being used in the `columns` object.

[2016-02-16 04:12] GitHubStig commented on #2538
Oh ya, sounds like he nailed it. Anyway it's fixed on our side now by styling htCore instead of wtHider. No more Javascript hack. Thanks!

[2016-02-16 09:41] selvakumar79 opened #3232 "DropDown control Position"
Need to change the drop-drown list display position to top of the cell.

[2016-02-16 11:43] AMBudnik commented on #3232
Hi @selvakumar79 are you referring to this bug https://github.com/handsontable/handsontable/issues/3210?

[2016-02-16 12:30] AMBudnik opened #3233 "ManualColumnMove / ManualRowMove does not work for multiple instances."
Demo: http://jsfiddle.net/dz6jrr24/11/

You can only move cols/rows in second instance.

(Reported at: https://forum.handsontable.com/t/manual-row-move-only-works-with-last-created-table/163)

[2016-02-16 13:01] alvarotrigo commented on #3231
Not quite sure what you mean by that. Can you explain it in another way?

[2016-02-16 13:28] ilya4544 commented on #2532
Hi!
`afterSetCellMeta` is still not fired after deleting the comment.

How to catch this event?

[2016-02-16 14:35] d-haber opened #3234 "schema check in populateDataFromArray breaking our editors"
I am a registered user of handsontable-pro. At some point since version 0.13.1 (when I last upgraded) an object schema test was introduced to populateDataFromArray (at line 4624 in the 1.1 pro version), which has broken all of our editors.  The objects we assign to cells do not necessarily have the same properties.  Why is that test necessary, and what can we do to get around it?

Thanks.

[2016-02-16 14:41] budnix commented on #2874
Hi @frontyard, thanks for PR! Based on your work I prepared this new functionality as a part of `fillHandle` option. Creating new rows by default will be enabled. To disable this feature it will be:
[code]

[2016-02-16 14:49] frontyard commented on #2874
Awesome! Thank you.

[2016-02-16 15:02] AMBudnik commented on #3231
I was thinking about rewriting the table instead of removing rows but I guess your solution is better. I came across the same issue when I wanted to remove rows: http://jsfiddle.net/072q1130/1/

[2016-02-16 15:27] d-haber commented on #2966
I have exactly the same issue. What can we do to get this changed to a bug?

[2016-02-16 15:41] alvarotrigo opened #3235 "Callback beforeDatePicker"
I would like to change the data before a cell with the `date` type opens calendar.

I checked the pikaday.js library used by handsontable but [it seems there's no callback](https://github.com/dbushell/Pikaday/issues/488) to do anything to the data before it gets open.

Having a callback in handsontable would solve the problem.

[2016-02-16 16:21] luisdav86 commented on #584
You can fill out the drop down list with objects you just have to override this functions  in any of then.

var value = {};
      value.name = 'name';
      value.id = 1;
      value.toLowerCase = function () { return value.name.toLowerCase() };
      value.substr = function (start, end) { return value.name.substr(start, end) };
      value.replace = function (match, other) { return value.name.rep

[2016-02-16 16:49] mfandre commented on #933
I'm having the same problem, look this http://jsfiddle.net/3zeess0m/

When I put correct data on my utgGrid (first one) and then validate, Im getting two alerts of success (why two???)...

When I put a wrong data I'm receiving one alert of success.... Thats something wrong...

[2016-02-16 18:24] tnrich commented on #2494
Thanks for the solution @peller , I was fighting this bug for a bit just now and was not a happy camper..

[2016-02-16 18:29] alvarotrigo opened #3236 "Is triggerPaste not working?"
Trying to trigger copyPaste but It doesn't paste anything at all.
What am I doing wrong?

[Reproduction online](http://jsfiddle.net/7u1kxjLe/31/)

[code]

[2016-02-16 18:30] mfandre opened #3237 "Problem with validateCells"
I saw this issue "validateCells() calls the callback incorrectly #933" but I think it was still not fixed. I'm having the same problem, look this http://jsfiddle.net/3zeess0m/2/

When I put correct data (numeric data at first column) on my utgGrid (first one) and then validate, Im getting two alerts of success (why two???)...

When I put a wrong data I'm receiving one alert of success.... Thats so

[2016-02-17 05:59] ichpuchtli commented on #1723
@AMBudnik Would you consider maintaining a type definition. The definition above hasn't been updated in two years.

[2016-02-17 07:46] computurus opened #3238 "Merge cells -> callback event"
I am unable to find any kind of event or callback function which is triggered after a cell merge has been made...

Please help

[2016-02-17 09:29] myflash163 commented on #2650
SomeOne from Korean have solve the problem since I raise the question in goolge team

[2016-02-17 09:38] AMBudnik commented on #2650
Thanks for your feedback

[2016-02-17 09:38] #2650 closed

[2016-02-17 09:46] servocoder commented on #1928
I have just faced the same thing. The topic is old, is there any thoughts on this?

[2016-02-17 09:50] AMBudnik commented on #3238
Hi, there is a feature request issue at https://github.com/handsontable/handsontable/issues/2588 to provide a callback after merging.

Please track changes to https://github.com/handsontable/handsontable/issues/2588 for more information

[2016-02-17 09:50] #3238 closed

[2016-02-17 10:30] thip opened #3239 "Rows misaligned when fixed column is used with cells that contain wrapped text"
See this jsfiddle: [http://jsfiddle.net/t12hct3c/9](http://jsfiddle.net/t12hct3c/9/)

If you look between columns 2 and 3 (between the fixed column and the rest of the table) you will see that the rows are out of alignment by about 1 pixel (Although in the application I am working on this can grow to the point where rows don't align at all). As far as I can tell, this is cause by the text wrapping

[2016-02-17 10:36] computurus commented on #2588
The workaround is nice, but then all the other options from the context menu are gone...

[2016-02-17 11:01] thip commented on #3239
Turning on row headers seems to fix this (Although it's not a solution I am able to use in this application as we don't want them!)

[2016-02-17 12:39] alvarotrigo commented on #3235
My dates looks like this: `14/02/2016 [INVALID]`.
Which means I need to treat somehow the date before opening the datepicker, or tell `moment.js` that the format is valid and it should still parse it.

I found out handsontable forces the format to be strictly the same as the one provided in the datepickerconfig format, which in my case would be `DD-MM-YYYY`.
But that wouldn't allow `DD-MM-YYY stri

[2016-02-17 12:49] AMBudnik commented on #3239
Hi @thip it looks as expected at Safari and Chrome on OSX. Can you provide your OS/Browser information?

[2016-02-17 13:13] thip commented on #3239
I'm seeing it on Windows 7 using chrome 48 and IE11. I also tried chrome on OSX a second ago at home and was seeing the same issue. It's very subtle in the jsfiddle as it's only out by about 1px but dragging a selection over the second row makes it more obvious, as does increasing the browser zoom level.

[2016-02-17 15:57] alvarotrigo commented on #2665
+1

[2016-02-17 18:35] satyAltera opened #3241 "Formulas are not recalculated when values are copied from excel and pasted to HandsOntable."
When I copy and paste cell with initialized values from HandsOnTable to another set of cells, it copies the values into the cells and recalculates cells that have formulas which refer to the cells with copied value. This is good and as expected.

When I copy and paste code from excel to a hands on table row, the values are copied into cells but  cells that have formulas or equations which refer to

[2016-02-17 18:56] d-haber commented on #3234
Additionally, the problem is even worse if we don't have a previous value and then the user chooses a value (again, that's represented as an object), the code doesn't even bother checking the schema - it simply ignores the change!

In case you have different line numbers than me, here is the code that's causing the problem:

`              if (value !== null && typeof value === 'object') {

[2016-02-17 22:23] samsonkhisty commented on #2298
I succeeded to get the submenu working in this example: https://jsfiddle.net/fuggfuggfugg/qvfsk04f/

I had to debug and see how the alignment was working in the library.

[2016-02-17 22:50] BrettMohr commented on #2233
I'm also getting this error with Handsontable Pro. Any update on this?

[2016-02-18 04:02] opticyclic opened #3242 "Can't Test Handsontable With PhantomJS"
The use of the word 'name' [here](https://github.com/handsontable/handsontable/blob/3e8ca2e17a0fdad65b66ca21f9192a3a55e57292/src/shims/classes.js#L173-L179) appear to be causing tests to fail when running with [PhantomJS](https://github.com/ariya/phantomjs/issues/13895)

    [ERROR - 2016-02-18T03:49:25.393Z] Session [9323b160-d5f2-11e5-8264-a37925c9b5cd] - page.onError - msg: TypeError: Attemptin

[2016-02-18 06:29] alexpls commented on #3149
:+1: this affect me too. Trying to find a workaround but no luck yet.

[2016-02-18 08:27] gstanislav opened #3243 "Allow preventOverflow: true"
http://jsfiddle.net/e0jsgxv4/

Column headers are misaligned from the start. After some scrolling this happened:

![image](https://cloud.githubusercontent.com/assets/7578355/13137513/83ffdd04-d632-11e5-954a-7fe3e90e3f2c.png)

Chrome 48 on OSX Yosemite.

[2016-02-18 08:53] budnix commented on #3243
Hi @gstanislav, currently `preventOverflow` works in one axis in `'horizontal'`mode. I've updated [demo](http://jsfiddle.net/e0jsgxv4/1/).

[2016-02-18 09:31] AMBudnik opened #3244 "Wrong row deletion after manualRowMove"
demo: http://jsfiddle.net/zpmrnq6n/

1. `insert row below` the 10th row
2. move 10th empty row before 2nd row.
3. use contextMenu's `remove row` on an empty row

result:
row 10th was removed instead of empty 2nd row.

[2016-02-18 09:38] budnix opened #3245 "Calling sort method doesn't reflect on sort indicator"
When we call `sort(1, true)` method or try to sort column calling `updateSettings({columnSorting: {column: 1, sortOrder: true}})` sorting indicator doesn't indicate current sorting state.

--------

##### Steps to reproduce:

* Go to http://jsfiddle.net/rq36sape/1/;
* Click 'sort' button;
* **Sorting indicator should change the state.**

[2016-02-18 09:46] gstanislav commented on #3243
Ah, right. Still, I think doing `preventOverflow: true` should either be a noop or throw an error.

[2016-02-18 09:47] gstanislav opened #3246 "Clicking bottom row when preventOverflow is enabled adds scrollbars"
#http://jsfiddle.net/e0jsgxv4/3/

Create a Handsontable with `preventOverflow: 'horizontal'`. Make sure there is no horizontal overflow after initialization. Click on any cell in the bottom row. Two scrollbars immediately appear.

![image](https://cloud.githubusercontent.com/assets/7578355/13139475/cf59967c-d63d-11e5-8dec-e07744635567.png)

OSX Yosemite, Chrome 48

[2016-02-18 10:05] computurus commented on #1788
Also another option

[code]

[2016-02-18 10:58] AMBudnik commented on #3246
Hi @gstanislav I'm working on the same system and browser as you and couldn't reproduce this one. Could guide me how to do that?

[2016-02-18 10:58] budnix commented on #3245
Related with https://github.com/handsontable/handsontable/issues/2676.

[2016-02-18 11:02] budnix commented on #3246
I've the same bad behavior on OSX + chrome and safari in FF it seems to be ok. I mark this as a bug :)

[2016-02-18 11:07] AMBudnik commented on #3242
Hi @opticyclic
we usually use GitHub to resolve issues reported by Handsontable developers related to strictly Handsontable. For issues/questions related to other libraries please open new topic at stackoverflow: https://stackoverflow.com/search?q=handsontable

[2016-02-18 11:33] AMBudnik commented on #3241
Hi @satyAltera formula support is still a experimental feature so there could be some issue related. Could you please share with me a scenario with a demo where it will be easily to check what's happening and what should happen instead?

[2016-02-18 11:36] AMBudnik commented on #3239
Yes, I got it.
I guess it's related to https://github.com/handsontable/handsontable/issues/2354

[2016-02-18 12:06] grizzlydev opened #3247 "Auto col resize doesn't work when using property names"
Hi,

When configured with

[code]

Problem appears to be [here] (https://github.com/handsontable/handsontable/blob/master/src/plugins/autoColumnSize/autoColumnSize.js#L375) in `autoColumnSize.js`. It looks like this code is supposed to set the relevant width (`this.widths[col]`) to `undefined`. However, with prop names, `changes` array contains a string at index `1`, not col index value.

Conseque

[2016-02-18 12:13] budnix commented on #3247
You are right `this.widths` is an array and should have only number indexes. I've good news for you, this bug was fixed and it's waiting for release.

Connected with https://github.com/handsontable/handsontable/issues/3223.

[2016-02-18 12:14] grizzlydev commented on #3247
@budnix - great news - thanks for speedy reply

[2016-02-18 12:24] AMBudnik commented on #3237
Hi @mfandre Can you simplify this example a little bit and add an `alert` or `console.log` to inform about the issue you've reported?
Thanks in advance!

[2016-02-18 12:30] mfandre commented on #3237
AMBudnik, see if better now:
http://jsfiddle.net/3zeess0m/3/

[2016-02-18 13:21] budnix opened #3248 "Problem with calculating rows' height when the cell data is an object"
There is a bug in `SampleGenerator` class which forcefully transform cell value into string. This behavior is responsible for wrong calculation of row's height (and probably column's width). Plugins `AutoRowSize` and `AutoColumnSize` depends on this class.

[2016-02-18 13:39] alvarotrigo commented on #3078
+1 for the fallback with the message.
@DavidMikeSimon great explanation!

[2016-02-18 16:41] gstanislav commented on #2354
Is there a workaround?

[2016-02-19 08:20] AMBudnik opened #3250 "multiSelect:false selecting issue"
Demo: http://jsfiddle.net/rmv414xp/1/

It appears randomly and there's no console errors.
reported at: https://forum.handsontable.com/t/issues-on-multiselect-false/166

Steps:
1. Select any cell that it's not on the border of the table.
2. Try to drag it to be border.

Video:
![multiselect](https://cloud.githubusercontent.com/assets/10757813/13170096/f2f231fa-d6e9-11e5-991f-842933ac442e.gif)

`[G

[2016-02-19 09:28] amit147 commented on #1437
It worked !! Thanks you.

[2016-02-19 10:31] krzysztofspilka commented on #3245
Looks good on localhost

[2016-02-19 10:41] krzysztofspilka commented on #3225
maxDate: new Date() works fine

[2016-02-19 10:50] krzysztofspilka commented on #3204
Tested on @budnix machine

[2016-02-19 11:01] krzysztofspilka opened #3251 "A submenu overlaps the context menu"
A submenu is overlaping the context menu which results in user not being able to hover the context menu items near their left edges when the submenu is opened.

It happens only when the submenu is opened to the left.

Browser: Chrome (latest)
OS: Windows 8.1

![image](https://cloud.githubusercontent.com/assets/8048526/13173812/eaca2ff8-d6ff-11e5-8b2e-425ce199414e.png)

[2016-02-19 11:02] krzysztofspilka commented on #3125
Holey Smokey, it works:) However, I've added a new issue considering the submenu overlapping the context menu here: #3251

[2016-02-19 11:20] krzysztofspilka commented on #2662
It works now. allowEmpty: true is turned on by default. I set it to false here:http://jsfiddle.net/0c6c939m/ with my locally built package and it indicates the incorrect value properly both in date and numeric cells.

[2016-02-19 11:41] #3123 closed

[2016-02-19 11:51] PhpSriptKiddie opened #3252 "Does it have the features I need?"
Hey there.

I am currently in the process of webifying a collection of excel-based tools for online use. Before I get too far in the process, I would like to verify that I am actually able to build what I need. I have been looking through old posts and examples, but I'm still not 100 % certain. Hopefully someone is able to clarify the following aspects for me:

1. I need the user to be able to col

[2016-02-19 12:05] krzysztofspilka opened #3253 "Can't paste more columns than defined in the array"
In some cases when I paste the data from Excel to Handsontable, it doesn't get pasted - at least not visually. Validation, on the other hand, works fine in such cases. See the example below:

**Steps to reproduce the issue:**
- Open this Excel (or import it to Google Sheets), select and copy all the values https://db.tt/xrm7WP59
- Paste the clipboard's contents in cell A1 in the Date Cell Type dem

[2016-02-19 12:08] #2676 closed

[2016-02-19 12:08] #2705 closed

[2016-02-19 12:08] #2874 closed

[2016-02-19 12:08] #3125 closed

[2016-02-19 12:08] #3191 closed

[2016-02-19 12:08] #3204 closed

[2016-02-19 12:08] #3213 closed

[2016-02-19 12:08] #3225 closed

[2016-02-19 12:08] #3245 closed

[2016-02-19 12:08] #3248 closed

[2016-02-19 12:46] budnix opened #3254 "TimeValidator and new cell type based on it"
This changes extends TimeValidator (written by @swistach https://github.com/handsontable/handsontable/pull/3249) to the possibility of setting if cell can by empty or not (`allowEmpty`).

[2016-02-19 13:02] budnix commented on #2809
This functionality should be made as a plugin.

[2016-02-19 13:02] krzysztofspilka commented on #2809
@jansiegel talk this over with @budnix - I can definitely still reproduce it.

[2016-02-19 13:04] krzysztofspilka commented on #2807
@toresenneseth can you confirm that it works properly with the latest version of Handsontable?

[2016-02-19 13:06] krzysztofspilka commented on #2770
@dbishai @stesix can you still reproduce the bug in the latest version of Handsontable?

[2016-02-19 13:12] krzysztofspilka commented on #1761
@rbtbar @mzagorny @alperenbelgic guys, could you tell me if that works fine for you in the latest Handsontable version?

[2016-02-19 13:23] krzysztofspilka commented on #2986
Confirmed and assigned to a milestone.

[2016-02-19 13:32] markusp72 commented on #3177
Hi Krzysztof,
thanks for the helpful demo.
In my specific case, I would like to determine the id of a modified cell using data stored in the row header and column header cells.
Is it possible to set IDs for (nested) header rows / columns?
i.e., store rowID = 'device_12' in a header row cell,
and colID='parameter_23' in a column header row, and retrieve these data when a cell content is changed.

M

[2016-02-19 14:06] krzysztofspilka commented on #2114
I think it was all connected with #1823 which was fixed and released today. @kkrusty1 @AMBudnik could you please confirm that it works fine with the latest version of Handsontable?

[2016-02-19 14:17] kkrusty1 commented on #2114
@krzysztofspilka Yes, it seems to work now. I can't reproduce the problem anymore.

[2016-02-19 14:17] gstanislav opened #3255 "Updating height of table breaks frozen column"
Create a Handsontable instance without set height. Then, use `updateSettings` to set height and scroll around a bit. Result:

![image](https://cloud.githubusercontent.com/assets/7578355/13177829/9b8e4b68-d72c-11e5-8c89-2ab3c6c84378.png)

http://jsfiddle.net/s6t768pq/78/

[2016-02-19 14:33] cgatesman opened #3256 "Handsontable no longer renders columns properly when doing an updateSettings() after the user moves a column"
I was attempting to update my project from 0.18.0 to 0.22.0, and found a wide spread regression.  I tracked it down to being a regression in 0.22.0, specifically.  0.21.0 does not have the issue.

In my project, I have a need to do an `updateSettings()` to redefine the `columns` on the table when the user moves a column.  I found with 0.22.0 (and now 0.23.0, also), this no longer works, and it doe

[2016-02-19 14:41] AMBudnik commented on #2595
Hi @lrtherond sorry for a such a delay. There was some changes according to cell editors. If you're still looking for some answers, please let me know.

[2016-02-19 14:50] budnix opened #3257 "AutoFill plugin doesn't support multiple instances"
After updating documentation about new functionality for AutoFill plugin (`autoInsertRow`) I saw that there is a bug which occurs when 2 instances of Handsontable are using this plugin at the same time.

Second demo at the page https://docs.handsontable.com/0.23.0/demo-drag-down.html overwrites settings of the first Handsontable instance.

This plugin is still waiting to be refactored, so this is

[2016-02-19 14:54] cgatesman commented on #3256
Please note, in this particular case, I happen to be doing an `updateSettings()` with a column definition that matches the order of the manual move, but you will find that if the `updateSettings()` does any kind of reorder after the manual move, the rendered columns do not match what was defined in the `updateSettings()`.

[2016-02-19 14:54] kvnandini commented on #2665
@AMBudnik : the functionlity i am trying to achieve is to paste the data on the grid which is already in the clipboard. this is not working i had got my client postpone the paste functionality for further release now its time for me to work on this .. none of ways i have tried is working

[2016-02-19 14:56] AMBudnik commented on #2114
It is fixed. I'm closing this issue.

[2016-02-19 15:08] mikeptweet opened #3258 "Restrict dropdown to individual cells?"
Is it possible to use the various cell types (i.e. drowndowns, autocomplete,etc) in individual cells as opposed to use a column type?

I want to add a dropdown on just individual cells in separate columns

[2016-02-19 15:13] AMBudnik commented on #2851
There are actually few things that has be be changed. Here's the example http://jsfiddle.net/96j6r9mz/
If this was not what you wanted to achieve please let me know.

[2016-02-19 15:13] AMBudnik commented on #2992
Issue closed in lack of demo.

[2016-02-19 15:13] #2992 closed

[2016-02-19 15:14] AMBudnik commented on #2987
Issue closed in lack of demo or further details/questions.

[2016-02-19 15:14] #2987 closed

[2016-02-19 15:15] AMBudnik commented on #3004
HI @castlese I couldn't reproduce the issue with the last version of Handsontable. Can you check it?

[2016-02-19 15:16] #2998 closed

[2016-02-19 15:16] #2878 closed

[2016-02-19 15:16] #3058 closed

[2016-02-19 15:16] AMBudnik commented on #3066
Issue closed in lack of demo.

[2016-02-19 15:16] AMBudnik commented on #3076
Issue closed in lack of demo.

[2016-02-19 15:16] #3076 closed

[2016-02-19 15:19] AMBudnik commented on #3085
Issue closed. Please check nested headers feature: https://docs.handsontable.com/pro/1.2.0/demo-nested-headers.html

[2016-02-19 15:19] #3085 closed

[2016-02-19 15:20] #3115 closed

[2016-02-19 15:20] AMBudnik commented on #3120
Issue closed till an author's reply.

[2016-02-19 15:20] #3120 closed

[2016-02-19 15:41] dbishai commented on #2770
I haven't tried it but considering the responsible code does not look to have changed, I would think the bug is still there. I am using my own build of handsontable with my pull request included.

[2016-02-19 15:47] AMBudnik commented on #2807
@krzysztofspilka unfortunately still present.

Updated demo (0.23.0): http://jsfiddle.net/n9bL1vLx/5/
tip: `manualRowMove` is not reflected only `manualColumnMove`

[2016-02-19 15:51] #2357 closed

[2016-02-19 15:51] #2374 closed

[2016-02-19 15:51] AMBudnik commented on #2450
Issue closed in lack of demo and/or further details.

[2016-02-19 15:51] #2450 closed

[2016-02-19 15:53] #2459 closed

[2016-02-19 15:53] #2462 closed

[2016-02-19 15:55] AMBudnik commented on #2668
Grouping feature is deprecated. We do not support it in newer versions.

[2016-02-19 15:55] #2668 closed

[2016-02-19 15:56] AMBudnik commented on #2670
Grouping feature is deprecated. We do not support it in newer versions.

[2016-02-19 15:56] #2670 closed

[2016-02-19 15:56] #2682 closed

[2016-02-19 15:58] AMBudnik commented on #1616
Hi @CarloDiGi can you confirm that it works correctly in 0.23.0?

[2016-02-19 15:58] #2714 closed

[2016-02-19 15:59] AMBudnik commented on #2738
This should not be an issue in 0.23.0. Could you check it also?

[2016-02-19 16:00] #2763 closed

[2016-02-19 16:02] #2774 closed

[2016-02-19 16:02] #2775 closed

[2016-02-19 16:03] AMBudnik commented on #2788
For issue that are not related to pure Handsontable library please create a topic at stackoverflow: https://stackoverflow.com/search?q=handsontable

[2016-02-19 16:03] #2788 closed

[2016-02-19 16:09] AMBudnik commented on #2793
to remove a specific row you can use `alter` like so: https://docs.handsontable.com/0.23.0/Core.html#alter

[2016-02-19 16:10] AMBudnik commented on #2525
Hi @MuyBien do your still face the same issue? Sorry for a delayed answer.

[2016-02-19 16:19] AMBudnik commented on #2835
Hi @dadde for topics that are not related to Handsontable bugs or features please create an issue at stackoverflow: https://translate.google.pl/

[2016-02-19 16:19] #2835 closed

[2016-02-19 16:25] AMBudnik commented on #2834
Replicable in 0.23.0, demo: http://jsfiddle.net/putechur/
Cells doesn't allow to use bigger letters (they do not expand).

[2016-02-19 16:26] AMBudnik commented on #2849
Hi @chowkh if you still face the same issues please create a demo (preferably in JSFiddle/JSBin/CodePen).

[2016-02-19 16:33] AMBudnik commented on #2857
Hi @jeanmarc78 does it still occur?

[2016-02-19 16:34] AMBudnik commented on #2863
Please take a look at this issue: https://github.com/handsontable/handsontable/issues/2253

[2016-02-19 16:36] AMBudnik commented on #2858
Hi @blacksmoke26 can you confirm that now it's working as expected in 0.23.0?

[2016-02-19 16:37] AMBudnik commented on #2853
Hi. Can you confirm that it is working fine in 0.23.0? If not, please let me know .

[2016-02-19 16:37] MuyBien commented on #2525
Hi @AMBudnik I think yes but I just made something different for the moment, I can't remember how now...

[2016-02-19 16:39] AMBudnik commented on #2886
Hi @droidenator could you give me so more details. Is it still occur?

[2016-02-19 16:40] AMBudnik commented on #2525
OK, thanks for your quick answer @MuyBien
If there will be some other issues please create a new issue.

[2016-02-19 16:40] #2525 closed

[2016-02-19 16:40] #2905 closed

[2016-02-19 16:41] AMBudnik commented on #3074
merged with: https://github.com/handsontable/handsontable/commit/1023b3c356bbe35fac0a00a8efd0631214b381e7

[2016-02-19 16:41] #3074 closed

[2016-02-19 16:43] AMBudnik commented on #3100
Hi @tromss as https://gist.github.com/pezon/2b6ee291f1d286461d97?signup=true is not a part of a Handsontable library please create a topic at stackoverflow: https://stackoverflow.com/search?q=handsontable

[2016-02-19 16:43] #3100 closed

[2016-02-19 16:44] AMBudnik commented on #3110
Hi @AnthonyPeron are you still working on this one and need help?

[2016-02-19 16:44] kameelyan commented on #2853
I don't believe it is working when you use the full.js file.
http://jsfiddle.net/kdyt9a5x/1/

[2016-02-19 16:48] AMBudnik commented on #3121
fixed with https://github.com/handsontable/handsontable/releases/tag/0.21.0

[2016-02-19 16:48] #3121 closed

[2016-02-19 16:49] AMBudnik commented on #3019
Hi @oceanapplications sorry for a delay. Do you still looking for an answer/solution?

[2016-02-19 16:49] #3148 closed

[2016-02-19 16:50] #3072 closed

[2016-02-19 16:51] AMBudnik commented on #2853
Thanks for feedback @kameelyan

[2016-02-19 16:53] krzysztofspilka commented on #3255
@gstanislav I'm just curious, what is your application doing that requires changing the height via updateSettings?

[2016-02-19 16:59] droidenator commented on #2886
@AMBudnik it's been awhile since I dealt with this but I checked the documentation and I still don't see any mention of the `clearUndo` method in the documentation.

[2016-02-19 17:01] AMBudnik commented on #2770
Hi @dbishai please check the @stesix example above and the same one in 0.23.0 http://jsfiddle.net/tqbkgsq2/1/ seems to be fixed.

[2016-02-19 17:09] d-haber commented on #3234
I believe I understand why the code is doing what it's doing.  I think it is there to protect against dragfill and copy/paste issues, where users may be copying data from column to column, and it's trying to protect against disparate types.  And that makes sense, even when copy/pasting into a single cell.  The fix you need is that if the from/to is the same cell (i.e. editing the current cell), it

[2016-02-19 17:21] gstanislav commented on #3255
I want to set max height.

If the window becomes too short to accommodate the whole table, including the bottom scrollbar, I want it to become constrained to the height that allows the bottom scrollbar to be visible.

[2016-02-19 17:23] dbishai commented on #2770
@AMBudnik, the issue @stesix had was different than mine. However, it does look like my sorting issue has been fixed in 0.23.0. You can confirm this by comparing the jsfiddles from the first and second posts which use handsontable 0.23.0 and 0.17.0 respectively. Not sure if you have tests for this or not but I wrote some in my pull request.

[2016-02-19 17:40] parin95 commented on #2937
@rvunnava Can you perhaps guide me to fix this? My current project relies on this, so I need this. I can submit a pull request if I do manage to fix it.

[2016-02-19 17:48] AMBudnik commented on #3234
Hi @d-haber I saw that you're really into this case. Is there anything else I can help you with right now?

[2016-02-19 17:58] d-haber commented on #3234
Well, I'm hoping you'll label this as a bug and get it fixed.  :-)

As things stand now anyone who has objects in their data and tries to change such cells won't be able to if the value is optional or has multiple schemas.

Since I am assuming the process of getting this fixed will take some time, in order to get around this I am having to rewrite all of our object-based cells to be strings instea

[2016-02-19 20:47] AMBudnik commented on #3234
Could you please create a simplified demo for this case? If there's something going on surely I will mark it as a bug.

[2016-02-19 21:31] bpmckee commented on #3066
Sorry, didn't see this notification until just now.  I'll try to come up with a demo in the next couple days.

[2016-02-19 21:33] AMBudnik commented on #3066
OK. I'll reopen this issue with your reply.

[2016-02-19 21:57] AMBudnik commented on #3258
Hi @mikeptweet Here's a demo where it is one one dropdown cell in a grid, at `1, 1`: http://jsfiddle.net/2bpjcxgo/ There's the same renderer for dropdown and an autocomplete.

[2016-02-20 01:28] chowkh commented on #2849
Yes, I am still facing the issue.
This happens only when I call deselectCell from afterSelection. If I call deselectCell from outside, I do not have this problem.
My application code is complex and large and time consuming for me to replicate it in the JSFiddle.
I have left some features out that call deselectcell from afterselection and I do not have this issue at the moment.

[2016-02-20 11:29] PhpSriptKiddie opened #3259 "Save colored cells"
Hey there.

I am trying to create a solution where the user is possible to color cells and save information about the colored cells along with the data of the table, so everything can be loaded again at a later timer.

I have found this JSFiddle that supports coloring of cells. However, I have no idead how to save this metadata afterwards. Can someone please point me in the right direction?

http:

[2016-02-20 11:34] mikeptweet commented on #3258
Awesome ... exactly what I was looking for. Thanks for the prompt response!

[2016-02-20 11:34] #3258 closed

[2016-02-20 20:38] oceanapplications commented on #3019
Yeah, as it stands right now the important data ends up at the bottom of the sheet since that seems to be the only way for the calculation to work.

Thanks

[2016-02-21 18:26] sbichenko commented on #2354
Here's a workaround that worked for me:

[code]

[2016-02-22 03:30] bpmckee commented on #3066
https://jsfiddle.net/1phsmpwg/

Here's the demo I promised.
To reproduce the error do the following:

1. Scroll over to the "Favorite Animal" column.
2. Set a dropdown
3. Click the Validate Cells button
4. Scroll back over to the start of the table.

There are two errors that happen on number 4.

1. In chrome you get the JS error I described above
2. In the few browsers that I tested, the rows tha

[2016-02-22 08:33] AMBudnik commented on #3066
Thanks for sharing demo @bpmckee It looks definitely incorrect and after scrolling `age` column became a rowHeader.

[2016-02-22 08:35] AMBudnik commented on #3019
Glad it works, this case was really tough.

[2016-02-22 08:35] #3019 closed

[2016-02-22 08:41] AMBudnik commented on #2849
OK, so I will close this issue but if you would like to come back to this with a demo issue gets reopened.

[2016-02-22 08:41] #2849 closed

[2016-02-22 09:02] jeanmarc78 commented on #2857
hello ,
yes it still occurs.

jm

[2016-02-22 09:38] AMBudnik commented on #3259
Hi @PhpSriptKiddie this seams to be a more complicated example. To color cells permanently we use custom renderers/conditional formatting like in this example: http://jsfiddle.net/ozvL8v7n/

If you would like to color all cells in different colors maybe create a checkbox and depending on it's state pass the color to renderer.

[2016-02-22 10:40] AMBudnik opened #3260 "selectCell issue with a key value with quotation marks"
Working demo: http://jsfiddle.net/o66gxxay/1/
Issue demo: http://jsfiddle.net/o66gxxay/2/

SelectCell does not select a cell represented as: `{'key': 'value'}`
key value has to be `{key: 'value'}` represented without quotation marks.

There are no console errors.

[2016-02-22 13:23] krzysztofspilka commented on #3260
@budnix can't prioritize it, pls help:)

[2016-02-22 13:30] AMBudnik commented on #3260
@krzysztofspilka my bad. It http://jsfiddle.net/o66gxxay/3/ works fine

[2016-02-22 13:30] #3260 closed

[2016-02-22 13:31] krzysztofspilka commented on #3210
@AMBudnik That's going to be a HUGE refactor of all editors. We'll start it next week and according to our roadmap it should be finished till the end of March.

[2016-02-22 13:38] AMBudnik commented on #2857
@jeanmarc78 thanks for feedback,
Could you please guide what we have here? This example from demo looks different than one on your screens?

[2016-02-22 13:49] jeanmarc78 commented on #2857
the problem is the fiddle was based on the older handsontable web site with the "personal finance" example and there are now maybie some link broken

[2016-02-22 14:11] ciffel commented on #1761
The issue still does exist in v0.23.0.
Tested in IE11 (i5 3.1GHz, 8GB ram).
Scrolling up and down in [Handsontable performance test:
](http://jsfiddle.net/handsoncode/Lp4qn55v/)

![scroll](https://cloud.githubusercontent.com/assets/799624/13220346/ad782926-d9b0-11e5-9151-05032962440a.gif)

[2016-02-22 14:13] AMBudnik commented on #2857
OK, I see. Is there another way we can check this issue?

[2016-02-22 14:26] jeanmarc78 commented on #2857
hello
do you have a primary example with handsontable.formula.js and ruleJS.all.full.js ?

Jean Marc

[2016-02-22 15:32] AMBudnik commented on #3252
Hi @PhpSriptKiddie

about 1 question we discussed it at https://github.com/handsontable/handsontable/issues/3259,
2. Interesting question, I've never tried but I guess it can be changed with a custom renderer.
3. Could you bring me more details about that? Maybe a demo.

[2016-02-22 15:35] jeanmarc78 commented on #2857
i create a new demo
https://jsfiddle.net/jeanmarc/76z48m98/4/

[2016-02-22 18:19] Sune1337 opened #3261 "Editing a numeric cell by pressing enter replaces decimal separator"
When you press enter to edit a numeric cell using a non-english locale replaces the local decimal-separator with a period (.)
Double-clicking the cell to edit does not produce the same behaviour.

See https://jsfiddle.net/aqfhr1nf/4/ for an example.

[2016-02-22 18:57] d-haber commented on #3234
Hi @AMBudnik .  Here's the fiddle: http://jsfiddle.net/dhaber/jag9L5fd/

Please let me know if my description in the fiddle (after reading my comments above) need improvement.
Thanks.

[2016-02-22 19:51] cgatesman opened #3262 "Handsontable stealing keystrokes when setting focus outside of table"
I am seeing an issue with Handsontable stealing keystrokes if you programmatically set focus to an input control outside of the Handsontable.  For example, if you have a modal dialog popup over the Handsontable which contains form controls.

I have a simple sample which demonstrates this with the latest version (0.23.0):  http://jsfiddle.net/cgatesman/f0cwcgbz/

[2016-02-23 08:18] AMBudnik commented on #2499
Confirmed with 0.23.0

[2016-02-23 08:19] AMBudnik commented on #3036
Confirmed with 0.23.0

[2016-02-23 08:31] AMBudnik commented on #2233
Hi @BrettMohr I made simpler example http://jsfiddle.net/ftz5vje7/1/ and I didn't get the errors and it works with string. Could you please take a look at this one and correct me what I'm missing?

[2016-02-23 08:41] AMBudnik opened #3263 "RenderAllRows conflict with selectCell"
Demo: http://jsfiddle.net/o66gxxay/6/

Settings:
`height:500,`
`renderAllRows: true`

Under the button we have `hot.selectCell(50,10)` that should scroll the table to `50, 10` cell but with those settings configuration it scrolls about 30 rows less.

Tips:
Commenting any on those settings solves the issue.

[2016-02-23 08:48] AMBudnik commented on #2879
Confirmed with 0.23.0

[2016-02-23 08:51] AMBudnik commented on #883
Hi,
I couldn't reproduce it with the first demo. Could anyone confirm that this occurs with 0.23.0?

[2016-02-23 08:53] AMBudnik commented on #2678
Hi @cgatesman could you please try it with your example updated to 0.23.0? We made some changes to related issue.

[2016-02-23 09:01] AMBudnik commented on #2036
Confirmed with 0.23.0: https://jsfiddle.net/buotqxrg/1/

[2016-02-23 09:31] jansiegel commented on #3255
There seems to be some issues with `width` and `height` that need some investigation, too.

[2016-02-23 09:31] bdarwin commented on #545
This would be a great feature to have. If it is just plain data then it's fine. But when we have cell properties attached to each column then it is giving us headaches to transpose data along with cell props.

[2016-02-23 09:40] AMBudnik commented on #3261
related to https://github.com/handsontable/handsontable/issues/2166

[2016-02-23 10:31] lesonunique opened #3264 "Multiple dropdown"
Hello,

I would use the `Dropdown` function but by allowing the selection of several parameters and as well as for adding a parameter is not present in the list.

A system like this would be perfect:
https://www.zellerda.com/projects/tokenize

Is it possible to integrate it with the `Rendering custom` ? If so, how do I do this?
Is it otherwise another way to have a similar system? (Dropdown with s

[2016-02-23 11:12] #883 closed

[2016-02-23 11:16] krzysztofspilka commented on #2278
@iamrohitnigam @KodjoSuprem @AMBudnik Could you confirm it's fxed (or not) in 0.23.0? Thanks

[2016-02-23 11:22] AMBudnik commented on #2278
@krzysztofspilka works well with 0.23.0, updated demo: https://jsfiddle.net/452y4qsu/11/

1. Use contextMenu to 'insert row' in 2nd row

previously comment stayed in 2nd row, now it's correctly moved to 3rd row.

[2016-02-23 11:26] AMBudnik commented on #2196
Fixed with 0.23.0 Updated demo: https://jsfiddle.net/452y4qsu/12/

Previously after scrolling comments appeared in random places, in 0.23.0 they're at correct positions.

[2016-02-23 11:27] AMBudnik commented on #2278
Mentioned #2196 issue is also solved in 0.23.0

[2016-02-23 11:27] #2278 closed

[2016-02-23 12:46] AMBudnik commented on #3264
Hi @lesonunique
This feature request is already in our board at https://github.com/handsontable/handsontable/issues/2498
Please track changes to https://github.com/handsontable/handsontable/issues/2498 for more information.

[2016-02-23 12:46] #3264 closed

[2016-02-23 12:50] AMBudnik commented on #3262
Hi @cgatesman this one https://github.com/handsontable/handsontable/issues/401 seams to be the same case. Can you take a minute to check it?

[2016-02-23 13:50] computurus opened #3265 "add/remove row/colmn programmatically"
I want to bind row/column adding to buttons inside my webapp. Searching the documentation, I did not found any useful functions. Are there any workarounds or did I miss something?

[2016-02-23 15:18] AMBudnik commented on #3265
Hi @computurus you can find `alter` useful. Here's more information https://docs.handsontable.com/0.23.0/Core.html#alter

[2016-02-23 18:31] cgatesman commented on #3262
It seems to be, but I don't think `outsideClickDeselects` has anything to do with the actual problem.  I am not setting that to `false` in my example.  The title and initial description of #401 may be a bit misleading to the real problem.

[2016-02-23 22:07] AMBudnik opened #3266 "AutoColumnSize doesn't work with hidden grid"
Demo: http://plnkr.co/edit/zPHAWZPyfLB8EobLLAb1?p=preview

Use a button to show table. Columns are narrowed.

[2016-02-23 22:25] ltoews commented on #3263
"Commenting any on those settings solves the issue."

Could you explain what you mean by this?

[2016-02-23 22:48] AMBudnik commented on #3263
@ltoews I meant that it's a correlation between those two `height` and `renderAllRows` and when you use only one of them in your settings this issue doesn't occur.

[2016-02-23 23:52] ltoews commented on #3263
Ah! I see what you mean. I was hoping this would solve I problem I have, but unfortunately not.

Perhaps you can help...

I have two handsontables side by side on the same page (both divs are height:100%, overflow: hidden, and the first div is float:left), and when a user clicks in a column in the first table I want to scroll to and highlight the corresponding row in the second table. (e.g., user

[2016-02-24 06:11] computurus commented on #3265
That is what I need thanks

[2016-02-24 08:55] Laplandia opened #3267 "Horizontal scroll bar should be always visible on screen if the table has horizontal overflow"
HOT should have an option to always show horizontal scroll if there is an overflow. I.e. when the bottom part of the table is beneath the screen edge, I should still be able to scroll the table horizontally.

[2016-02-24 09:18] lesonunique commented on #3264
And is not possible to integrate a rendering custom of this : https://www.zellerda.com/projects/tokenize ?

Because the last news of #2498 are in June 2015 so this feature not going to happen soon..

[2016-02-24 12:49] AMBudnik opened #3269 "Select cell type nav issue"
Demo: https://docs.handsontable.com/0.23.0/demo-select.html
1. Choose an option in select cell type (any at column `B`) and press `enter` to accept.
2. Try to navigate to other cell using `TAB` or arrow navigation.

Using tab doesn't allow to move between cells and arrow navigation opens select one more time to navigate through its options.

`[G #604]`

[2016-02-24 13:31] d-haber commented on #3234
@AMBudnik I'm just confirming that you're aware that I posted the simplified demo (previous post), as you requested, as I haven't seen any activity in the 2 days since I posted it.  Thanks.

[2016-02-24 13:46] #3265 closed

[2016-02-24 21:56] karthikcsridhar commented on #3217
@AMBudnik Hi AMBudnik. The original question was from me. The answer I gave is for another question from @sandys that wasn't relevant to my actual question. So this question is still unanswered. Could you please open it back ? Or can someone help with it ?

[2016-02-25 06:57] ranjan653 opened #3270 "How to remove default sorting from handsonTable. I need only ascending and descending order sorting ?"
How to remove default sorting from handsonTable. I need only ascending and descending order sorting

[2016-02-25 10:24] AMBudnik commented on #3270
Currently it's not available, but you can forcefully set sorting order with [`setSortingColumn(col, order)`](https://docs.handsontable.com/0.23.0/ColumnSorting.html#setSortingColumn).

[2016-02-25 11:18] AMBudnik commented on #3263
Hi @ltoews I made a simple demo with two instances side by side with a class to highlight hot2's rows: http://jsfiddle.net/e99s76ox/ can you share your recent progress with this demo?

If so, please create a **new** issue. I would like to leave this one only for updates related to fixing/updating this bug.

[2016-02-25 14:58] krzysztofspilka commented on #3234
@budnix can we look at it tomorrow?

[2016-02-25 15:34] AMBudnik commented on #2857
Thanks for sharing demo @jeanmarc78
I added `renderAllRows: true` and it seams it does the work: https://jsfiddle.net/76z48m98/5/
Can you confirm?

[2016-02-25 15:53] AMBudnik commented on #3217
Hi @karthikcsridhar yup, there's one subject left - sorry for a delay but unfortunately I didn't find any way to render all columns.

[2016-02-25 17:27] mpusarla opened #3271 "Copy Paste Error on a single row"
We are using version 22.0 of HandsOnTable.

When trying to paste a single row, we are getting the following javaScript error:
`Uncaught TypeError: Cannot read property '0' of null`

Here is the jsFiddle:
https://jsfiddle.net/mpusarla/mLerhrwg/

Here is the specific use case. On create new row, we are resetting the height and invoking updateSettings. When column sorting is enabled, observeChanges i

[2016-02-25 23:44] tnrich opened #3272 "Dropdown with custom html"
Hey there, I've got a button I'd like to put alongside one of my options in a handsontable dropdown field. Here's what the relevant code looks like:
[code]
This looks great the first time it renders:
![image](https://cloud.githubusercontent.com/assets/2730609/13338437/46119024-dbd6-11e5-91e3-74646eb62974.png)

But unfortunately, when I click Option 2:
![image](https://cloud.githubusercontent.com/a

[2016-02-26 01:59] #2793 closed

[2016-02-26 04:51] ranjan653 commented on #3270
hI @AMBudnik  at a time how many rows you can select to delete ? Here I am facing the problem that i have 99 rows I want to delete all but the remove row option is not coming.

[2016-02-26 05:36] ltoews commented on #3263
Aleksandra,

Thanks for setting up the fiddle. I've modified it to duplicate the functionality that I need. I've commented out a bit of your code and inserted the code I've been using.  Click anywhere in column x in table 1, and row x is highlighted in table 2. The scrolling works as it should.

I've added column headers in table 1, and row headers in table 2 so it's easier to see that clicking in

[2016-02-26 06:17] basrita commented on #607
Hi  guys,I have used  @ashwinrayaprolu1984 's solution.It is working but i am facing the issue that column freezing is not working properly. If i removed the plugin it is plugin.please help me in this regard as we have crucial deliverable.

[2016-02-26 07:10] vishumca opened #3273 "Handsontable Checkbox true/false firing on all the keys"
Hi,

We are using checkboxs in our handsontable. However we found that the checkbox gets clicked on any keyboard key. This can also be seen from the example shown in handsontable documentation:
https://docs.handsontable.com/0.23.0/demo-checkbox.html#template

Is there a way we can restrict the checkbox check/uncheck event only on "SPACE" press and not on any key press.

[2016-02-26 08:22] marcsch commented on #607
You may also try out my [updated solution](https://gist.github.com/marcsch/c8317978e1d26bf049bb). Adding 'fixedColumnsLeft: 2' to the [jsFiddle example](http://jsfiddle.net/7Z3bD/49/) seems to work fine.

[2016-02-26 08:40] AMBudnik commented on #3270
Hi @ranjan653 can you create a demo with the code?

[2016-02-26 08:41] #2947 closed

[2016-02-26 08:41] #3179 closed

[2016-02-26 08:42] #3176 closed

[2016-02-26 08:43] AMBudnik commented on #3183
Hi @samsonkhisty how is your progress in the matter?

[2016-02-26 08:44] #3182 closed

[2016-02-26 08:44] basrita commented on #607
When i keep manualcolumnfreeze option true it is not  freezing the particular column it is freezing the starting column.still the same problem exists when i have tried with your plugin.even i have tried in your jsfiddle example.
Thanks.

[2016-02-26 08:44] #3189 closed

[2016-02-26 08:45] #3197 closed

[2016-02-26 08:45] #3202 closed

[2016-02-26 08:45] #3198 closed

[2016-02-26 09:07] jansiegel commented on #3206
@krunalamodi,
Your example should work _temporarily_. What I mean by that is:
When you change the `style` property of a cell in the `afterChange` hook, it works, but only until the next rendering, as rendering redraws all the cells.
See this example: http://jsfiddle.net/js_ziggle/93tcas2z/1/

You can, however, make use of the cell meta mechanism: http://jsfiddle.net/js_ziggle/93tcas2z/2/
It this c

[2016-02-26 09:26] AMBudnik commented on #3273
Hi @vishumca you can try to inject `if keycode is space` to [`beforeChange`](https://docs.handsontable.com/0.23.0/Hooks.html#event:beforeChange)

[2016-02-26 09:42] Sune1337 opened #3274 "table width flickers when using stretchH+column-widths and then entering a value longer than the cell width"
I'm using stretchH: 'all' to make the table fill the container width.
I also use column-widths because i want one of the columns to be wider than the others.

Steps to reproduce: (see https://jsfiddle.net/qszoLgmk/2/for an example table)
1) Enter a value in any cell that is longer than the cell width.
    The value will wrap to multiple lines, and the table width is decreased about 30px or so.

To

[2016-02-26 09:43] marcsch commented on #607
I see the problem now. Columns are being freezed, but always the leftmost, not the one that was intended to be freezed. This might be due to the fact that the plugin keeps the data in it's own array, which is handed over to Handsontable using `loadData` at each page load event. I can't deliver you an immediate solution as I'm not that familiar with how column freezing works.

[2016-02-26 10:12] budnix commented on #3234
Hi @d-haber, As you said this chunk of code is responsible for preventing data schema loosing from situations when user copies values from different data schema (usually from different columns). As workaround I suggest you to try to keep all values returned from your editor always in the same schema. I've updated your [demo](http://jsfiddle.net/jag9L5fd/34/).

I think in the feature we can change

[2016-02-26 10:12] AMBudnik commented on #3272
Hi @tnrich it looks interesting unfortunately we do not provide example nearly to what you would like to achieve here.

Did you tried a custom renderer? In this case you would need a autocompleteRenderer cause it's the same for an autocomplete and a dropdown so you can access it by `Handsontable.renderers.AutocompleteRenderer`

[2016-02-26 10:20] jansiegel commented on #3235
@alvarotrigo, Adding a `strict` option seems like a good idea (especially that `moment.js` seems to handle it pretty well).

Note for future reference: needs to be added for both `Date` and `Time` validators.

[2016-02-26 10:24] AMBudnik commented on #3274
Sorry I couldn't reproduce it. Could you share more strict steps like enter `long string text` value at `A1` cell and also you OS/Browser information?

Thanks in advance.

[2016-02-26 10:24] krzysztofspilka opened #3275 "Implement a cache for getLength"
Taken from: https://forum.handsontable.com/t/handsontable-performance-problems-when-filtering-true-pro/123/8

If you turn on trim rows then the performance is noticeably lower. The modifyRow hook is calling getLength too many times and would need some kind of cache.

Trim rows turned off: http://jsfiddle.net/owe8fps0/1
Trim rows turned on: http://jsfiddle.net/9efcezzb/1/1

[2016-02-26 10:37] krzysztofspilka commented on #2368
@ajinkyasingh27 Hi, we are cleaning up our issue board. Can you please confirm that you still struggle with this problem?

[2016-02-26 10:38] jansiegel commented on #2840
@onia, it seems like you might be right. Although, Firefox 24 was released in 2013, if I'm not mistaken.
Maybe you can consider an update, as there are more recent ESR versions?

[2016-02-26 10:40] budnix opened #3276 "validateCells() performance issue"
Validating table with 100 rows and 100 columns takes to much time. On my computer its take ~2s. See [demo](http://jsfiddle.net/ya34cgay/1/).

[2016-02-26 10:49] AMBudnik commented on #3263
@ltoews could you please share the demo that you made a progress at?

[2016-02-26 10:52] Sune1337 commented on #3274
I am running Windows 10, and i have reproduced the problem in:
* Chrome 48.0.2564.116 m
* IE 11.103.10586.0
* Firefox 44.0.2

The screenshots are taken while using Chrome.

Exact steps to reproduce:
1) Make your browser width 1260 px wide (this is just what i happened to use atm)
2) Open https://jsfiddle.net/qszoLgmk/2/for
3) In cell A1, enter: I am a long string. So long that it is longer than th

[2016-02-26 10:56] krzysztofspilka commented on #3271
@mpusarla we've confirmed that it's indeed a bug on our side. Added to the pile, not sure at the moment when we can start working on it.

Thanks for reporting that!

[2016-02-26 11:11] krzysztofspilka commented on #3267
@Laplandia is your question somehow connected with https://github.com/handsontable/handsontable/issues/3243 ?

[2016-02-26 11:11] jansiegel commented on #3262
@cgatesman, you might want to try using the `unlisten` method in your input-focusing callback.
I included it in your demo: http://jsfiddle.net/js_ziggle/921yp9b7/1/.

Does that help?

[2016-02-26 11:17] krzysztofspilka commented on #3216
I think that's to be added to the improvement ideas. @aluu317 is right at this point.

[2016-02-26 11:22] krzysztofspilka commented on #2592
@jlsalmon thanks for letting us know about it. Can you still make a pull request for that one?

[2016-02-26 11:25] jlsalmon commented on #2592
@krzysztofspilka I would love to, but I probably wont have time anywhere in the near future...

[2016-02-26 11:42] #3223 closed

[2016-02-26 11:57] AMBudnik commented on #545
@AlexanderAA http://jsfiddle.net/1cwdLbcm/ maybe this example would help

[2016-02-26 12:10] Laplandia commented on #3267
@krzysztofspilka no, not really. I just want to be able to always scroll horizontally. Now the scroll bar can be hidden if the table is partially obscured by the screen edge.

[2016-02-26 12:30] krzysztofspilka commented on #3267
@Laplandia Alright, I think we're talking about this one: #3108 so basically you want to set a constant height of the grid and then be able to scroll horizontally using window's scrollbar?

If not, please provide a simple demo or any other visual explanation to help me understand.

[2016-02-26 12:42] Laplandia commented on #3267
You are right, #3108 is relevant here. But I don't think that it is the same feature.

[2016-02-26 12:49] jansiegel commented on #3256
@cgatesman, correct me if I'm wrong, but i think it works properly since `0.22.0`:
* `columns` are set as `'a', 'b', 'c', 'd'`, column position array is not changed: `[0, 1, 2, 3]`
* **Action:** User drags the 2nd column after the 3rd column, which modifies the position array to `[0, 2, 1, 3]`
* Your script modifies the `columns` array to `'a', 'c', 'b', 'd'`.

So, after all this, Handsontable tak

[2016-02-26 14:24] bdarwin commented on #545
May be I commented in a wrong thread.
But as I explained plain data is fine.
For example we have column headers attached to configuration and let's say I want to switch the orientation means I want to transpose the table in such a way that column headers become row headers and data is displayed accordingly.

[2016-02-26 14:38] naushadkm commented on #1823
After manually moving the column, Removing the column from the context menu, removes the wrong column!

please check this fiddle: http://jsfiddle.net/nkm/zq5fzegx/4/

Steps:
1. Move the column A to the column B's position by manually dragging from the column header drag handler.
    - It successfully moves.

2. Right Click on column A and select "remove column".
   - It removes the column B.

[2016-02-26 15:17] markusp72 commented on #324
+1

[2016-02-26 15:30] pdemilly commented on #3262
@jansiegel What about a method for handsontable instance to stop listening to mouse events while in a custom editor. Right now in the open phase of my custom editor I am doing this

               document.documentElement.addEventListener('mousedown', stopEvent, true);
              documentMouseDownListener = function () {
                        document.documentElement.removeEventListener ('mou

[2016-02-26 15:33] pdemilly opened #3277 "method spelling error in eventManager. Might cause event to propagate even when asked not to"
[https://github.com/handsontable/handsontable/search?utf8=%E2%9C%93&q=definePoperty]

[2016-02-26 15:34] d-haber commented on #3234
Thanks @budnix , but your workaround will not work for us. The demo was simplified to illustrate the problem.  In reality, our objects are more complex and varied, so making them all have the same schema would be a significant and messy undertaking.

I would like to suggest a different fix, which I alluded to in one of my comments above.  I think the entire schema-checking block of code should not

[2016-02-26 15:42] budnix commented on #3277
Yes, there is definitely misspelling. This code is for <=IE8 so I suggest to remove it in the next occasion.

[2016-02-26 15:45] jtandrew commented on #2233
I am seeing the same issue with a dropdown.  I have a dropdown/autocomplete that has thousands of items.  The pattern to make the behavior occur is a little odd.  Here are the steps to reproduce.

1.
2. Go to an existing item/row above and select that same dropdown to attempt to modify that value
3.

1. Add an item to the column using the dropdown

[2016-02-26 15:47] AMBudnik commented on #1823
Confirmed, it's still there in slightly different situation that @naushadkm described.

[2016-02-26 15:51] mpusarla commented on #3271
As a temporary work around, able to get this working by adding the following snippet in the beforeChange handler:

[code]
If there is a better way to turn off a specific handler for a event, please let me know. The handlers are anonymous functions and I could'nt figure out a better way to find them.

[2016-02-26 15:57] AMBudnik commented on #2233
hi @jtandrew can it be replicable with this demo? http://jsfiddle.net/5xuyqxtm/

[2016-02-26 16:09] finmt opened #3278 "Formulas Set from onChange Event not Evaluated"
When programmatically setting the cell value to a formula from an onChange event, the value rendered in the grid cell is not  evaluated when the cells column is the same column that fired the event.

[code]

Is there any work around for this issue?

[2016-02-26 16:22] sasuke37 commented on #200
hi ,
i have a problem with the autofill :

![sans titre](https://cloud.githubusercontent.com/assets/6151318/13358005/5e8ddd38-dcad-11e5-9d1b-4b2c37452b84.png)

Anyone have a solution for my problem??

[2016-02-26 16:38] jtandrew commented on #2233
Hi @AMBudnik I am able to reproduce if I make the options in the dropdown beyond 1000.  See my update.

http://jsfiddle.net/5xuyqxtm/1/

Change the chassis color on 2 items, then click out of the current cell.

[2016-02-26 17:37] krzysztofspilka commented on #3276
On my old ASUS it takes "I stole 0.632 seconds of your computer time!". Do you have maybe a rough idea how we could improve that?

[2016-02-26 17:38] mpusarla opened #3279 "Horizontal scrollbar is displaying on cell edit - Win7/Chrome Only"
Selecting any cell in the last column is enabling horizontal scrollbar. I configured the three column widths to be 100 each and the width of the container to be 350. By default horizontal scrollbar is not  visible. On select of any cell in the last column is enabling horizontal scrollbar.

Here is the jsFiddle:
http://jsfiddle.net/mpusarla/sk0xLLuh/

Thanks,
Madhu.

[2016-02-26 17:56] jefferydutra commented on #1710
my workaround is this
[code]

[2016-02-26 19:06] cgatesman commented on #3256
I would expect that if you do an updateSettings redefining the columns, it should throw away any passed knowledge of manual moves as you are strictly restating where you want each column to be--think of the column redefinition as a manual move via code.

[2016-02-26 20:05] samsonkhisty commented on #3183
Hi Alexandra, thanks for asking. I actually made it work but moving away from customborders are use CSS instead. I use outline and outline-offset and it looks just as dandy. That way I don't have to worry about adding my customborder and tracking the scrolling and all that.

<img width="292" alt="screen shot 2016-02-26 at 3 05 11 pm" src="https://cloud.githubusercontent.com/assets/3254606/13363979

[2016-02-27 17:00] anarabanana commented on #2696
Hello @AMBudnik .
I am wondering if you know the wayhow to traverse this issue?
![screenshot from 2016-02-27 16 58 17](https://cloud.githubusercontent.com/assets/12660427/13374115/5b69932e-dd73-11e5-92cf-955967241224.png)
![screenshot from 2016-02-27 16 59 02](https://cloud.githubusercontent.com/assets/12660427/13374119/6dbc436e-dd73-11e5-804b-70343a4e6ba9.png)

[2016-02-28 04:36] shornikov opened #3280 "destroy can't remove contentmenu"
second create handsontable obj show menu items twice

need $(".htContextMenu").remove()

[2016-02-29 07:15] basrita commented on #607
ok @marcsch . Thanks for your reply.please fix the issue.

[2016-02-29 08:51] ranjan653 commented on #3270
Hi @AMBudnik , Please have a look into the example. It has ascending sorting,then descending sorting, then default sorting, then ascending ...so on..I want to remove default sorting

[2016-02-29 09:06] AMBudnik commented on #3270
Hi @ranjan653 you have asked me before and using only ascending and descending sorting (without default) is not available at the moment.

[2016-02-29 09:13] AMBudnik commented on #3280
Hi,

to enable contextMenu on the instance where it was added just use:

[`instance.updateSetting({ contextMenu: false })'](http://jsfiddle.net/LqucLd29/)

If this was not helpful please create a demo and we'll try to figure it out.

[2016-02-29 09:17] AMBudnik commented on #2696
Hi @anarabanana are you thinking about values of cells `C5` and `D5` or is there anything else I should look at?

[2016-02-29 09:39] jeanmarc78 commented on #2857
Hi alexandra ,
yes i confirm the good behavior , but when i have more than 1000 rows, i have the console error log
Security brake: Too much TRs. Please define height for your table, which will enforce scrollbars.renderRows @ handsontable.full.js:3509

regards
jean marc

[2016-02-29 09:48] AMBudnik commented on #2857
Hi @jeanmarc78 please check [this list of issue](https://github.com/handsontable/handsontable/search?q=Too+much+TRs&state=open&type=Issues&utf8=%E2%9C%93) is it related to one of them?

[2016-02-29 09:50] AMBudnik commented on #3183
Hi @samsonkhisty clever solution and your grid looks great!

[2016-02-29 10:01] jeanmarc78 commented on #2857
hello,
i think exactly the same https://github.com/handsontable/handsontable/issues/3036

regards
jean marc

[2016-02-29 10:03] AMBudnik commented on #3279
Hi @mpusarla I'm not sure if I understand it correctly. You would like to get scroll when table is fully visible?

[2016-02-29 10:04] AMBudnik commented on #2857
OK, good to know. Thanks for feedback @jeanmarc78

[2016-02-29 10:07] AMBudnik commented on #2233
@jtandrew your example is the one to confirm this issue https://github.com/handsontable/handsontable/issues/3222 and I'm looking confirm or not the relation of `fixedRowsTop` and this console error. Can you check this one too?

[2016-02-29 10:09] AMBudnik commented on #200
Hi @sasuke37 you're using ngHandsontable and formulas? (as I can see in your console)
Can you share a demo where this issue is replicable?

[2016-02-29 10:17] AMBudnik commented on #3278
Hi @finmt could you share a full live demo (JSFiddle/JSBin/CodePen)?
Thanks in advance!

[2016-02-29 10:18] #3208 closed

[2016-02-29 10:19] #1188 closed

[2016-02-29 10:40] shornikov commented on #3280
No :)
i use handsontable in modai dialog.
On modalShow -  create table with contextMenu, on ModalClose - destroy table.
If i open dialog again - items in contextMenu show twice, 3,4,5.

[2016-02-29 11:05] jansiegel opened #3281 "Manual column moving + context menu column removal problem."
*[ Continued from @naushadkm in #1823 ]*

When using the Context Menu's `Remove Column` option after any column order modifications were made (with the `manualColumnMove` feature), wrong column is being removed.

----------
#### Steps to reproduce:
* Go to http://jsfiddle.net/tomLhdcr/,
* Move the `A` column after column `B`,
* Remove the `B` column using the context menu.

**Result**: First colum

[2016-02-29 11:07] jansiegel commented on #1823
@naushadkm, I don't think this problem is strongly related with this issue, I've started another one at #3281

[2016-02-29 12:47] IgorShch commented on #3066
I have the same issue.

[2016-02-29 13:15] AMBudnik commented on #3280
Oh, ok.

Could you share a demo code to portray this behavior?

[2016-02-29 13:35] naushadkm commented on #1823
@jansiegel Yes exactly. and Thanks for #3281

[2016-02-29 14:32] cgatesman commented on #3262
I included it in your demo: http://jsfiddle.net/js_ziggle/921yp9b7/1/.

This looks like it may work for me.  I'll have to try it out on my project to see if it works in my full app environment.  I don't know if this is something Handsontable can take care of automatically, or not, but this manual method should work in my different cases.

[2016-02-29 14:34] marcsch commented on #607
@basrita: Manual column freezing and also manual reordering [should work now](https://gist.github.com/marcsch/c8317978e1d26bf049bb). You can test it [here](http://jsfiddle.net/7Z3bD/54/) (just uncomment the `manualColumnFreeze` option).
Be aware that any adding/removing rows and columns will not work with this plugin as stated above.

[2016-02-29 15:13] mpusarla commented on #3279
My question is, why is the horizontal scrollbar showing up when none of the columns are resized?

I configured the width of table to 350 and I have three columns 100 each. By default, when the table is initially rendered the horizontal scrollbar is not visible. When you select any cell in the last column, horizntal scrollbar shows up. I think it should not show up because I did not resize any of t

[2016-02-29 15:30] anarabanana commented on #2696
@AMBudnik , as it was mentioned earlier in forum to get formula result we need to use var servers_total  = hot.plugin.matrix.getItem(hot.plugin.utils.translateCellCoords({row : 62,col : 2})).value
But when the value on that cell is changed (so the formula result is changed), var servers_total still holds an old value. Is there a way to traverse it?
Thank you for your help.

[2016-02-29 15:36] jtandrew commented on #2233
@AMBudnik I just checked that one out and I see that is the same issue.  I will make a note of it one there.  Thanks

[2016-02-29 15:36] jtandrew commented on #3222
I see the same issue and here is my jsfiddle

http://jsfiddle.net/5xuyqxtm/1/

Thanks @AMBudnik

[2016-02-29 17:06] mahinder commented on #1326
Hey AMBudnik,

Requested to open this ticket and guide me so I can add my this gem Info from your official page.

Thanks,
Mahinder

[2016-02-29 17:37] AMBudnik commented on #3279
I do not have the same behavior. Can you share with me your OS/Browser information?

[2016-02-29 22:30] mpusarla commented on #3279
@AMBudnik Looks like it happens only in chrome. Firefox works good.
My chrome version is 45.0.2454.101 m. Just typing something in the last row and selecting any cell in the last column will trigger the horizontal scrollbar.

[2016-03-01 05:31] basrita commented on #607
@marcsch :  how to perform freezing then because no "freeze column" option is not there.

[2016-03-01 05:37] basrita commented on #607
Thanks @marcsch . It is working now.

[2016-03-01 05:50] saishnakumar opened #3282 "Comment not visible for the first row."
I have created a handsontable instance with the settings  rowHeaders: false,  colHeaders: false,
On mouse over on a  cell in first row  with comment  comment editor is not getting displayed.
It is working fine for all the other rows.

[2016-03-01 08:11] AMBudnik commented on #3279
Thanks for sharing details. It helped.
I was at the OSX and there's no browser to replicate that. When I moved to Windows 7 the Chrome 45 was the only one that couldn't handle the case properly.

[2016-03-01 08:21] AMBudnik commented on #3282
Hi @saishnakumar
We have the same issue at https://github.com/handsontable/handsontable/issues/3194
Please track changes to that one for further information.

[2016-03-01 08:21] #3282 closed

[2016-03-01 08:26] AMBudnik commented on #1326
Hi @mahinder thank you for you initiative
I think that something like this quick [jQuery tutorial](https://docs.handsontable.com/0.23.0/demo-jquery.html) would be the best pick.

[2016-03-01 08:29] AMBudnik commented on #2233
I'm closing this issue as it does not occur in it's original description.

[2016-03-01 08:29] #2233 closed

[2016-03-01 08:31] AMBudnik commented on #2696
Hi @anarabanana currently not. Formula features is in its beta mode and we are aware that some functions can be buggy.

[2016-03-01 08:35] AMBudnik commented on #1823
I'm closing this issue as it is solved with [0.23.0](https://github.com/handsontable/handsontable/releases/tag/0.23.0) in its original description.

[2016-03-01 08:35] #1823 closed

[2016-03-01 09:04] ranjan653 opened #3283 "Is it possible to show the number of columns to display after freezing. But at scroll, it will display all columns one by one"
Is it possible to show the number of columns to display after freezing. But at scroll, it will display all columns one by one

[2016-03-01 09:07] basrita opened #3284 "row header height and row columns height alignment issue."
Hi guys,

I am facing alignment issue when the row header is present.Here i am attaching the screenshot.
Even i am specifying height also same issue.the difference 1px is coming for me for any height.
![screenshot](https://cloud.githubusercontent.com/assets/7194256/13422479/14684c78-dfbb-11e5-9d34-f093c4fa1d4a.png)

Thanks.

[2016-03-01 09:32] iliavolyova opened #3285 "Copy-paste plugin, getting 10 times bigger values on paste"
Hello.

We are using Handsontable 0.23. The issue comes up in numeric cells with the German ('de') locale (in which case the comma is used as a decimal splitter, and dot is used as a thousands splitter).

If you take such a cell and type in a number with one digit after the decimal separator, eg 33,3 - when you try to copy and paste such a number with the keyboard, you get 333,00 on paste.

This o

[2016-03-01 10:37] AMBudnik commented on #3283
Hi @ranjan653 it sounds like pretty complex. Asking to be sure you would like to freeze some columns and after a scroll movement to enable freezing of those columns?

[2016-03-01 11:47] AMBudnik commented on #3285
Hi @iliavolyova thanks for sharing
I think that it is the same issue as https://github.com/handsontable/handsontable/issues/3261 if not it is strongly connected.

If you could share any additional suggestions/investigation results there at https://github.com/handsontable/handsontable/issues/3261 I would be grateful.

[2016-03-01 11:47] #3285 closed

[2016-03-01 11:51] AMBudnik commented on #3284
Hi @basrita
I guess it is caused by this issue https://github.com/handsontable/handsontable/issues/2354. You can try to check workaround proposed at https://github.com/handsontable/handsontable/issues/2354 (last comment).

[2016-03-01 11:51] #3284 closed

[2016-03-01 12:05] iliavolyova commented on #3285
This is actually more similar to [#2166](https://github.com/handsontable/handsontable/issues/2166) which is referenced in [#3261](https://github.com/handsontable/handsontable/issues/3261). There's also hotfix there. Thanks!

[2016-03-01 13:02] basrita commented on #2354
hi @sbichenko . I have tried with that but no change.still same problem for me.
![screenshot](https://cloud.githubusercontent.com/assets/7194256/13427720/facc09b4-dfdb-11e5-8400-9e497a26293a.png)

[2016-03-01 13:48] budnix commented on #3012
Actually trimming rows work :) But it's not as simple as previously was thought. To trim rows you must implement own shifting algorithm to achieve valid results. Here you are an [example](https://jsfiddle.net/handsoncode/81ewbapL/).

[2016-03-01 13:48] #3012 closed

[2016-03-01 14:19] DHoffm opened #3286 "RowHeader not updated on move"
When a row header is dragged (via manualRowMove setting) the header stays and only the row cells are updated.

I created a Fiddle: http://jsfiddle.net/n6gbsooo/

[2016-03-01 14:34] AggieCridmus commented on #3109
Hi, Is there an ETA on the fix for this bug yet? I have a production application utilizing HoT Pro and would really like to use the 'minDate' option. Thanks!

[2016-03-01 14:43] AMBudnik commented on #3286
Hi @DHoffm it is an option called [bindRowsWithHeaders](https://docs.handsontable.com/pro/1.2.0/Options.html#bindRowsWithHeaders) that you are looking for.

It is available on Handsontable [PRO](https://handsontable.com/pricing.html?_ga=1.136076465.1270603665.1430732719). Please take a minute to check this demo where it is used: http://jsfiddle.net/guv3p72n/

[2016-03-01 14:55] DHoffm commented on #3286
That makes absolutely no sense! Why would I use the manualRowMove Setting without this.

[2016-03-01 15:05] AMBudnik opened #3287 "manualRowMove trigger doesn't resize with rowHeaderWidth applied"
Demo: http://jsfiddle.net/tx88mt0a/

Trigger used to move rows is not responding to changes made with `rowHeaderWidth`

Result (before dragging row)
![zrzut ekranu 2016-03-01 o 15 59 56](https://cloud.githubusercontent.com/assets/10757813/13430865/228d3c08-dfc7-11e5-9a6d-8cd1cc082353.png)

![zrzut ekranu 2016-03-01 o 16 04 00](https://cloud.githubusercontent.com/assets/10757813/13430896/5b224130-d

[2016-03-01 15:07] DHoffm opened #3288 "Similar option for columns"
Hi is there an option similar to  the renderAllRows:"true" for columns?

[2016-03-01 15:12] AMBudnik commented on #3286
hi again @DHoffm
most of our users are using `rowHeaders` as an indicator for rows that is why it is not included in regular version of Handsontable.

`ColHeaders` are mostly used with custom names and that is why column headers are triggered with columns content (demo: http://jsfiddle.net/42w04nzq/) in regular version.

[2016-03-01 15:16] AMBudnik commented on #3288
Hi,

Unfortunately there is not an option to render all columns. It might be an idea for future but currently for performance reasons it's not.

[2016-03-01 15:17] #1616 closed

[2016-03-01 17:30] DHoffm commented on #3288
OK and is there a number by which i can specify the amount for columns visible?

[2016-03-01 17:33] DHoffm commented on #3286
Sorry to hear that. So far everything worked great in the basic version accept this tiny bit. Not to sure about a 800$ purchase for this feature.

[2016-03-02 11:16] gstanislav commented on #933
http://jsfiddle.net/sy7c9gth/ - the callback is called for each cell at the moment.

[2016-03-02 11:18] gstanislav commented on #933
The bug described in the issue was not fixed in commit https://github.com/handsontable/handsontable/commit/90d1439bb746b57d0c370dfc444f122900b68371

[2016-03-02 11:23] AMBudnik commented on #3286
If your project is based on subscription $799 it is (if not then $99).

I'm aware that if there are no other PRO features that could come handy in your case that $799 could sound a bit too high but Handsontable PRO is more that `bindRowsWithHeaders` (nested headers, hiding rows/column, filters etc.)

[2016-03-02 11:31] AMBudnik commented on #933
@mfandre I couldn't reproduce it with the latest version could you please guide me with a step-by-step scenario how to reproduce this one?

@gstanislav after initialization it should be called once for every cell.

[2016-03-02 12:04] DHoffm commented on #3233
Hi any updates on this topic? Is there a quickfix solution which I can integrate on my own until a final fix.

[2016-03-02 12:25] AMBudnik commented on #3233
I was trying to share a quick workaround but only thing that I've found is that `resize` and `move` are similar and `resize` (which works) takes a `hotInstance` as an argument and `move` does not but I didn't want to change the source code.

[2016-03-02 12:30] DHoffm commented on #3233
Can you share your workaround here?

[2016-03-02 12:36] budnix commented on #3233
One of our programmers currently rewrites `ManualColumnMove` and `ManualRowMove` to a newer plugin structure. When an update this bug should automatically be solved. Probably fix will be ready for the next release.

[2016-03-02 12:38] DHoffm commented on #3233
Thanks for the info...much appreciated. Is there any fixed date when the next release is ready?

[2016-03-02 12:40] budnix commented on #3233
@DHoffm Release probably will be in the middle of the next week.

[2016-03-02 12:53] DHoffm commented on #3286
Is there any chance to get that feature into the open source version?

[2016-03-02 12:56] DHoffm commented on #3233
Sounds good to me.

[2016-03-02 13:06] AMBudnik commented on #3286
As it was added to PRO it will most likely stay PRO, but there's an option left. It's not fully developed yet but we will offer a marketplace for PRO features where you would have an ability to choose features that you're intersted in.

I do not have a precise date when it will be ready but you can sign to our notifier.

[2016-03-02 13:14] DHoffm commented on #3286
THX for your anwser. Where do i find the notifier.

[2016-03-02 13:16] AMBudnik commented on #3286
Just share your e-mail, first name and company name (if none leave blank) with form that's provided at https://handsontable.com/directory.html

[2016-03-02 13:30] mfandre commented on #933
Aleksandra,

Look this https://jsfiddle.net/0whe7d89/1/ (I extend your example and put
some numeric cells)

see the console, 9 "valid" and 1 "oh no", very strange behavior...

On Wed, Mar 2, 2016 at 8:32 AM, Aleksandra Budnik <notifications@github.com>
wrote:

--
att.
André de Mattos Ferraz

[2016-03-02 13:42] chaluvadis commented on #686
Hello, I am also facing the same issue. I am calling my asp.net web api for the data to bind the data to the handontable. my api is returning array of objects and I am binding the result like below. Any help is appriciated.

[code]

[2016-03-02 13:45] AMBudnik commented on #3274
OK,
after I've entered more text the column is narrower than before - this was the case, right? Or there's someting more that I'm missing.

![1](https://cloud.githubusercontent.com/assets/10757813/13461986/473fa9d2-e085-11e5-976f-2a85c9a2e785.png)

[2016-03-02 14:11] Sune1337 commented on #3274
Your screenshots describe the problem in a clear fashion.
But i don't think the issue is that the cell became narrower. I think that is just a result of the entire table becoming narrower.

If you edit the column again, and then exit edit-mode you will notice that the table goes back to 100% width.

[2016-03-02 14:21] AMBudnik commented on #3274
Thanks for sharing additional information @Sune1337
I got the same width changing behavior. After editing it the second time it looks as expected.

[2016-03-02 14:24] AMBudnik commented on #933
Thanks for sharing @mfandre it looks like there's someting with the last column.

[2016-03-02 14:29] mfandre commented on #933
I think is something wrong with validade queue. You will review?

On Wed, Mar 2, 2016 at 11:25 AM, Aleksandra Budnik <notifications@github.com

--
att.
André de Mattos Ferraz

[2016-03-02 14:31] mfandre commented on #933
I think the correct result for this example is 10 "oh no" given that the
cells are numerical and all values are alphanumeric.

On Wed, Mar 2, 2016 at 11:29 AM, André de Mattos Ferraz <fandre@gmail.com>
wrote:

--
att.
André de Mattos Ferraz

[2016-03-02 14:44] AMBudnik commented on #933
@mfandre I would say the same. I will share this topic with our programmers on Friday.

[2016-03-02 15:01] AMBudnik commented on #3219
I'm transferring this issue to ones that are approved in our [feature request list](https://github.com/handsontable/handsontable/wiki/Feature-requests)

Issue will stay closed till it is picked by a developer to work on. In the same time we encourage to send related pull requests and/or add additional suggestions.

[2016-03-02 15:01] #3219 closed

[2016-03-02 15:03] AMBudnik commented on #3187
I'm transferring this issue to ones that are approved in our [feature request list](https://github.com/handsontable/handsontable/wiki/Feature-requests)

Issue will stay closed till it is picked by a developer to work on. In the same time we encourage to send related pull requests and/or add additional suggestions.

[2016-03-02 15:03] #3187 closed

[2016-03-02 15:05] AMBudnik commented on #3171
I'm transferring this issue to ones that are approved in our [feature request list](https://github.com/handsontable/handsontable/wiki/Feature-requests)

Issue will stay closed till it is picked by a developer to work on. In the same time we encourage to send related pull requests and/or add additional suggestions.

[2016-03-02 15:05] #3171 closed

[2016-03-02 15:06] AMBudnik commented on #3090
I'm transferring this issue to ones that are approved in our [feature request list](https://github.com/handsontable/handsontable/wiki/Feature-requests)

Issue will stay closed till it is picked by a developer to work on. In the same time we encourage to send related pull requests and/or add additional suggestions.

[2016-03-02 15:08] AMBudnik commented on #3088
I'm transferring this issue to ones that are approved in our [feature request list](https://github.com/handsontable/handsontable/wiki/Feature-requests)

Issue will stay closed till it is picked by a developer to work on. In the same time we encourage to send related pull requests and/or add additional suggestions.

[2016-03-02 15:08] #3088 closed

[2016-03-02 15:09] AMBudnik commented on #3067
I'm transferring this issue to ones that are approved in our [feature request list](https://github.com/handsontable/handsontable/wiki/Feature-requests)

Issue will stay closed till it is picked by a developer to work on. In the same time we encourage to send related pull requests and/or add additional suggestions.

[2016-03-02 15:09] #3067 closed

[2016-03-02 15:10] gstanislav commented on #933
Either docs say otherwise, or they have to be clarified: "Validates all cells using their validator functions and calls callback when finished."

[2016-03-02 15:10] AMBudnik commented on #3040
I'm transferring this issue to ones that are approved in our [feature request list](https://github.com/handsontable/handsontable/wiki/Feature-requests)

Issue will stay closed till it is picked by a developer to work on. In the same time we encourage to send related pull requests and/or add additional suggestions.

[2016-03-02 15:10] #3040 closed

[2016-03-02 15:11] AMBudnik commented on #3017
I'm transferring this issue to ones that are approved in our [feature request list](https://github.com/handsontable/handsontable/wiki/Feature-requests)

Issue will stay closed till it is picked by a developer to work on. In the same time we encourage to send related pull requests and/or add additional suggestions.

[2016-03-02 15:11] #3017 closed

[2016-03-02 15:13] AMBudnik commented on #2977
This issue is strongly related to https://github.com/handsontable/handsontable/issues/3067
Please track changes to https://github.com/handsontable/handsontable/issues/3067 for updates.

[2016-03-02 15:13] #2977 closed

[2016-03-02 15:14] AMBudnik commented on #2814
I'm transferring this issue to ones that are approved in our [feature request list](https://github.com/handsontable/handsontable/wiki/Feature-requests)

Issue will stay closed till it is picked by a developer to work on. In the same time we encourage to send related pull requests and/or add additional suggestions.

[2016-03-02 15:14] #2814 closed

[2016-03-02 15:18] AMBudnik commented on #2782
I'm transferring this issue to ones that are approved in our [feature request list](https://github.com/handsontable/handsontable/wiki/Feature-requests)

Issue will stay closed till it is picked by a developer to work on. In the same time we encourage to send related pull requests and/or add additional suggestions.

[2016-03-02 15:18] #2782 closed

[2016-03-02 15:20] AMBudnik commented on #2781
I'm transferring this issue to ones that are approved in our [feature request list](https://github.com/handsontable/handsontable/wiki/Feature-requests)

Issue will stay closed till it is picked by a developer to work on. In the same time we encourage to send related pull requests and/or add additional suggestions.

[2016-03-02 15:20] #2781 closed

[2016-03-02 15:24] AMBudnik commented on #2709
I'm transferring this issue to ones that are approved in our [feature request list](https://github.com/handsontable/handsontable/wiki/Feature-requests)

Issue will stay closed till it is picked by a developer to work on. In the same time we encourage to send related pull requests and/or add additional suggestions.

[2016-03-02 15:24] #2709 closed

[2016-03-02 15:27] AMBudnik commented on #2689
I'm transferring this issue to ones that are approved in our [feature request list](https://github.com/handsontable/handsontable/wiki/Feature-requests)

Issue will stay closed till it is picked by a developer to work on. In the same time we encourage to send related pull requests and/or add additional suggestions.

[2016-03-02 15:27] #2689 closed

[2016-03-02 15:41] AMBudnik commented on #1503
As it is the same issue as https://github.com/handsontable/handsontable/issues/2109 please track changes to https://github.com/handsontable/handsontable/issues/2109

[2016-03-02 15:41] #1503 closed

[2016-03-02 15:42] AMBudnik commented on #2250
Issue closed, as it is the same as https://github.com/handsontable/handsontable/issues/2109

[2016-03-02 15:42] #2250 closed

[2016-03-02 15:43] AMBudnik commented on #2498
issue duplicate of https://github.com/handsontable/handsontable/issues/1201

[2016-03-02 15:43] #2498 closed

[2016-03-02 15:44] AMBudnik commented on #887
related to: https://github.com/handsontable/handsontable/issues/1201

[2016-03-02 15:47] AMBudnik commented on #2624
we can extend that to `More callbacks - beforeCreateRow and beforeCreateCol`

[2016-03-02 15:51] AMBudnik commented on #2667
After a second look at this issue I assume it should be marked more as a bug than a feature.

[2016-03-02 16:01] AMBudnik commented on #537
Hi @ronitgalani there were some huge changes related to this issue. Could you check if it works fine or should be changed (I couldn't reproduce it with provided demo).
@brentdevela I would appreciate the same demo or just a feedback

Thanks in advance!

[2016-03-02 18:34] kunnix commented on #2667
Super ugly workaround for those in need (by using a custom renderer): https://jsfiddle.net/afpbymp2/1/

Note: if your text width exceeds the cell width, it'll be truncated.

[2016-03-03 03:40] sandzone opened #3289 "Is there a calculation engine without the grid UI?"
I am working on a project that needs an excel like calculation engine in the browser. But, it doesn't need the grid UI.

Currently, I am hiding the div element (style="visibility:hidden") of Handsontable and pulling the computed values using the hack at [#2645](https://github.com/handsontable/handsontable/issues/2645)

Is there a calculation engine only component in Handsontable? I guess rulejs wo

[2016-03-03 03:52] chandujha commented on #736
i could like to say fetch all the data from database, convert in to json and use the same data in handsontable.

[2016-03-03 05:17] ltoews commented on #3263
https://jsfiddle.net/ltoews/e76h6he8/ <https://jsfiddle.net/ltoews/e76h6he8/>

[2016-03-03 09:05] AMBudnik commented on #3263
Looks promising @ltoews keep the good work going. If anything else will came to you - please create a new topic.

[2016-03-03 09:26] AMBudnik commented on #3289
Hi @sandzone
Unfortunately formulas are currently in beta mode and we do not provide the requestet feature.

[2016-03-03 10:30] AMBudnik commented on #3267
hi @Laplandia can you share additional information that will exclude the the first impression that it is the same as issue as  #3108? Thanks in advance.

[2016-03-03 10:33] AMBudnik commented on #3212
I got back to this one and currently there's an only option that I can see.

[2016-03-03 10:34] #2538 closed

[2016-03-03 10:35] #3192 closed

[2016-03-03 10:40] #3110 closed

[2016-03-03 10:48] AMBudnik commented on #3108
Confirmed with 0.23.0
also got the
![issue](https://cloud.githubusercontent.com/assets/10757813/13491948/a7cb7672-e135-11e5-9611-f519a7a8d1ca.png)

[2016-03-03 10:52] AMBudnik commented on #2608
Confirmed with 0.23.0

[2016-03-03 10:54] markusp72 commented on #487
+1

[2016-03-03 12:22] DHoffm opened #3290 "Wrong col width"
Hi,

when I do the following...

[code]

...getColWidth returns the same value for end- and startColumn. (In my case they had different widths)

What I was trying was to update the resize values after a column was moved.

Is there any other way of getting the values?

[2016-03-03 12:22] AMBudnik commented on #2621
I took a second look to this issue and rethink its state again. I guess that using `loadData()` as decribed in the [docs](https://docs.handsontable.com/0.23.0/Core.html#loadData) should erase all additional changes which includes the comments.

I'm closing it but if you would have any suggestions please do not hesitate to leave feedback.

[2016-03-03 12:22] #2621 closed

[2016-03-03 12:31] #3290 closed

[2016-03-03 12:31] AMBudnik commented on #2429
Hi @meenakumariv could you please check if this is still an issue with 0.23.0 Handsontable version?

[2016-03-03 12:32] AMBudnik commented on #2350
related: https://github.com/handsontable/handsontable/issues/2144

[2016-03-03 12:33] AMBudnik commented on #3046
Hi @artsince sorry for a delay. I just wanted to ask did you made any progress related to this case?

[2016-03-03 12:45] AMBudnik commented on #2572
Confirmed with 0.23.0
using `autoRowSize: true` which fixes scrolling horizontally doesn'r effect bug described above.

[2016-03-03 12:47] #3069 closed

[2016-03-03 12:55] AMBudnik commented on #3048
I've tried to reproduce it with this demo: http://jsfiddle.net/ms1dtsgn/ - as the main Handsontable page was changed and there's no longer a demo at the start - and I guess it's not affected.

I'm closing this issue but if you would have any examples where this issue is replicable please let me know.

[2016-03-03 12:55] #3048 closed

[2016-03-03 12:58] #3013 closed

[2016-03-03 13:00] fgalvan19 opened #3291 "afterSelectionEnd not work with dropdown"
I've four columns, the last two are dropdowns. When I change the row in the last dropdown (I changed the code, when Enter key is pressed, it moves to the next column, if it is in the last column, it moves to next row), I try to fetch row data with getDataAtRow, but the last value don't appear in this event.
I need this to do an insert in my db, but the last value is null (nullable=false in my db).

[2016-03-03 13:00] AMBudnik commented on #2964
updated to 0.23.0: http://jsfiddle.net/mrj6z35j/2/

[2016-03-03 13:03] #2857 closed

[2016-03-03 13:05] #2786 closed

[2016-03-03 13:11] AMBudnik commented on #2778
still occurring with 0.23.0 - http://jsfiddle.net/hqLbg3rt/1/

[2016-03-03 13:12] #2738 closed

[2016-03-03 13:14] kunnix commented on #2909
Note that the table renders properly when using `rowHeaders: true`: https://jsfiddle.net/138vbo89/4/

(Tested with Firefox and Chrome on Linux)

[2016-03-03 13:15] AMBudnik commented on #2731
replicable in 0.23.0, demo: http://jsfiddle.net/utojx2v9/4/

[2016-03-03 13:16] #2595 closed

[2016-03-03 13:16] #2662 closed

[2016-03-03 13:19] AMBudnik commented on #2909
Thanks for investigating @kunnix

[2016-03-03 13:20] AMBudnik commented on #3291
Hi @fgalvan19 can you create a demo where we can interact with this issue?

[2016-03-03 13:23] AMBudnik commented on #2493
Hi @kamilg could you try to reproduce this one with 0.23.0?

[2016-03-03 13:26] AMBudnik commented on #2313
Hi @tepaleguiojo I updated to 0.23.0 (https://jsfiddle.net/a2v3ukr8/5/) and didn't get any console errors. Can you confirm?

[2016-03-03 13:29] AMBudnik commented on #2218
hi @mitalikhundiwala in which browser you're experiencing this issue?

[2016-03-03 13:33] AMBudnik commented on #1987
@torrobinson could you check if this is still present in 0.23.0?

[2016-03-03 13:36] AMBudnik commented on #1656
confirmed with 0.23.0 http://jsfiddle.net/Lsjexarj/

[2016-03-03 13:41] AMBudnik commented on #487
I'm transferring this issue to ones that are approved in our [feature request list](https://github.com/handsontable/handsontable/wiki/Feature-requests)

Issue will stay closed till it is picked by a developer to work on. In the same time we encourage to send related pull requests and/or add additional suggestions.

[2016-03-03 13:41] #487 closed

[2016-03-03 13:41] AMBudnik commented on #2124
I'm transferring this issue to ones that are approved in our [feature request list](https://github.com/handsontable/handsontable/wiki/Feature-requests)

Issue will stay closed till it is picked by a developer to work on. In the same time we encourage to send related pull requests and/or add additional suggestions.

[2016-03-03 13:41] #2124 closed

[2016-03-03 13:43] AMBudnik commented on #2509
I'm transferring this issue to ones that are approved in our [feature request list](https://github.com/handsontable/handsontable/wiki/Feature-requests)

Issue will stay closed till it is picked by a developer to work on. In the same time we encourage to send related pull requests and/or add additional suggestions.

[2016-03-03 13:43] #2509 closed

[2016-03-03 13:44] AMBudnik commented on #2588
I'm transferring this issue to ones that are approved in our [feature request list](https://github.com/handsontable/handsontable/wiki/Feature-requests)

Issue will stay closed till it is picked by a developer to work on. In the same time we encourage to send related pull requests and/or add additional suggestions.

[2016-03-03 13:44] #2588 closed

[2016-03-03 13:45] AMBudnik commented on #2597
I'm transferring this issue to ones that are approved in our [feature request list](https://github.com/handsontable/handsontable/wiki/Feature-requests)

Issue will stay closed till it is picked by a developer to work on. In the same time we encourage to send related pull requests and/or add additional suggestions.

[2016-03-03 13:45] #2597 closed

[2016-03-03 13:46] AMBudnik commented on #2624
I'm transferring this issue to ones that are approved in our [feature request list](https://github.com/handsontable/handsontable/wiki/Feature-requests)

Issue will stay closed till it is picked by a developer to work on. In the same time we encourage to send related pull requests and/or add additional suggestions.

[2016-03-03 13:46] #2624 closed

[2016-03-03 13:48] AMBudnik commented on #2646
I'm transferring this issue to ones that are approved in our [feature request list](https://github.com/handsontable/handsontable/wiki/Feature-requests)

Issue will stay closed till it is picked by a developer to work on. In the same time we encourage to send related pull requests and/or add additional suggestions.

[2016-03-03 13:48] #2646 closed

[2016-03-03 13:49] AMBudnik commented on #2765
I'm transferring this issue to ones that are approved in our [feature request list](https://github.com/handsontable/handsontable/wiki/Feature-requests)

Issue will stay closed till it is picked by a developer to work on. In the same time we encourage to send related pull requests and/or add additional suggestions.

[2016-03-03 13:49] #2765 closed

[2016-03-03 13:50] fgalvan19 commented on #3291
This is the demo http://jsfiddle.net/Lsev6kjq/10/

[2016-03-03 13:50] AMBudnik commented on #2824
I'm transferring this issue to ones that are approved in our [feature request list](https://github.com/handsontable/handsontable/wiki/Feature-requests)

Issue will stay closed till it is picked by a developer to work on. In the same time we encourage to send related pull requests and/or add additional suggestions.

[2016-03-03 13:50] #2824 closed

[2016-03-03 13:53] AMBudnik commented on #3235
I'm transferring this issue to ones that are approved in our [feature request list](https://github.com/handsontable/handsontable/wiki/Feature-requests)

Issue will stay closed till it is picked by a developer to work on. In the same time we encourage to send related pull requests and/or add additional suggestions.

[2016-03-03 13:53] #3235 closed

[2016-03-03 14:20] AMBudnik commented on #3291
Hi @fgalvan19 thank for sharing demo. It looks pretty complex so I made a simple demo with dropdowns where `afterSelectionEnd` triggers console to print `selectionEnd` value. It works with for cells so I guess the problem lays somewhere else. demo: http://jsfiddle.net/u1tgk1nn/

You could try to comment line by line and check if something is changing in this matter.

[2016-03-03 14:23] AMBudnik commented on #1973
Hi @skibak could you check how this steps relate with the newest version of Handsontable? There were some changes that might bring a different light on things.

[2016-03-03 14:27] AMBudnik commented on #982
Hi @Glutexo and @einarj I see that you both were very into this topic. Can you share progress in this matter if there's any?

Thanks in advamce.

[2016-03-03 14:33] warpech commented on #1627
Seems that Papa Parse is still supporting only CSV, not TSV, so it is not a viable replacement for sheetclip.

Papa Parse could be perhaps a good solution for the CSV plugin in Handsontable Pro, but Pro has managed without it :)

Closing

[2016-03-03 14:33] #1627 closed

[2016-03-03 14:34] AMBudnik commented on #1885
same or very related to https://github.com/handsontable/handsontable/issues/2152
If any additional suggestions please add to https://github.com/handsontable/handsontable/issues/2152

[2016-03-03 14:34] #1885 closed

[2016-03-03 14:36] AMBudnik commented on #1502
Hi @eldonbite could you create a pull request for this case?
I guess if won't be implemented without checking if there are no conflicts with the code.

[2016-03-03 14:36] #1502 closed

[2016-03-03 14:38] AMBudnik commented on #2244
directory has been changed.

[2016-03-03 14:38] #2244 closed

[2016-03-03 15:05] AMBudnik commented on #1499
Hi @zhangmq can you check this please with 0.23.0 I couldn't reproduce it.

[2016-03-03 15:06] AMBudnik commented on #2202
Hi @cgatesman does it still occur? I couldn't reproduce it.

[2016-03-03 15:07] AMBudnik commented on #2327
Hi @morungos does it still occur? I'm not sure if I'm getting the idea.

[2016-03-03 15:10] AMBudnik commented on #2444
Currently plugin are more flexible to include/exclude https://docs.handsontable.com/0.23.0/tutorial-custom-build.html

[2016-03-03 15:10] #2444 closed

[2016-03-03 15:24] AMBudnik commented on #2399
Hi @glmonroe2001 there was many changes since this idea. Could you create a pull request for this one?

[2016-03-03 15:27] AMBudnik commented on #2157
Hi @D2Phoenix could you represent the issue with a demo for easier understanding?
Thanks!

[2016-03-03 15:36] AMBudnik commented on #1516
Confirmed with 0.23.0 http://jsfiddle.net/Mm4Eu/55/

[2016-03-03 15:37] #1245 closed

[2016-03-03 15:37] AMBudnik commented on #1194
Closed with https://github.com/handsontable/handsontable/issues/2404

[2016-03-03 15:37] #1194 closed

[2016-03-03 15:47] wismill commented on #487
@AMBudnik can you link the feature request to this page and conversely?

[2016-03-03 15:47] AMBudnik commented on #2410
Currently it has to be at least one empty cells like `[[""]]`, demo: http://jsfiddle.net/g4ftwqkg/1/

[2016-03-03 15:47] #2410 closed

[2016-03-03 15:50] AMBudnik commented on #487
Hi @wismill. Github users can only share their ideas at Github board. After investigating they're are approved or closed (if implemented, bugged or related). If approved send to https://github.com/handsontable/handsontable/wiki/Feature-requests

[2016-03-03 15:54] AMBudnik commented on #1496
Hi @zhangmq can you confirm that this bug was fixed and it's not present in 0.23.0?

[2016-03-03 16:02] AMBudnik commented on #2623
highly related to https://github.com/handsontable/handsontable/issues/2709

[2016-03-03 16:02] #2623 closed

[2016-03-03 17:10] tympollack commented on #2824
My users are also wanting the same.

[2016-03-03 21:06] samdenicola opened #3292 "Programmatically blur selected column"
Hi there,

We have added two clickable buttons to the header of a handsontable column which trigger both the opening of a modal, and the switching of a page. This is done with an event listener of clicks on the two specific classnames.

The issue is that in clicking on either of these buttons, the handsontable column becomes selected. Thus the user can "enter" content into the first row of the sel

[2016-03-04 02:31] tarehart opened #3293 "validateCells() should optionally ignore the spare rows"
Hello,

I have my table configured with `minSpareRows`, and a column validator which fails on blank cells (i.e. a required column).

When I call `validateCells()`, my spare rows have that column flagged as invalid. I would prefer that my spare rows be excluded from validation.

http://jsfiddle.net/s3L8hm3b/2/

[2016-03-04 06:02] sambsa opened #3294 "Handsontable gets refreshed the entire column except the editing cell after edit"
I have a Handsontable as follows:
I have a `Handsontable` as follows:

    ordertable = new Handsontable(container, {
        data: data,
        colHeaders: ['Customer', 'Mode', 'Remarks', 'Due', 'Recieved'],
        columns: [{
            data: 2,
            readOnly: true
        }, {
            data: 6,
            type: 'autocomplete',
            source: collectionmethod,
            vali

[2016-03-04 06:04] sambsa commented on #3294
I tried using `$('#tableorder').handsontable('setDataAtCell', 0, 3, 'new value'); ` for checking. But setDataAtCell  method itself is not working at all.

[2016-03-04 07:24] abhilash503001 commented on #3250
**Note For Author** : Please make necessary changes as per your logic for "multiselect=false", here i resolved the issue, same you can implement as per you logic in next version.

I made some changes on plugin **handsome.js**:
:20 line:
1st Step :  at line number 20th at handsome.js add a global variable "var multiSelectAdded = true;"

than goto :5037 line :
2nd step : at this finction setRangeEnd

[2016-03-04 07:26] abhilash503001 commented on #3250
![step2](https://cloud.githubusercontent.com/assets/8927084/13520689/7b84a164-e208-11e5-942e-eb3bdc1769c8.JPG)

[2016-03-04 07:27] basrita opened #3295 "manual column freeze is not working when manual column move is set true."
Hi guys,
When manual column move is enabled,manual column freeze is freezing the particular column,It's freezing left most unfreezed column.

Please help me in this regards.

Thanks,
Asrita

[2016-03-04 08:42] budnix commented on #3234
Sounds good to me. Please stay updated to this issue for future changes.

Thanks for your feedback!

[2016-03-04 09:49] jansiegel commented on #933
@mfandre, @gstanislav
You're right, the callback function from `validateCells` method should be executed only once, after the whole validation process has ended, with the validation status of the entire table. https://github.com/handsontable/handsontable/commit/ee1fa30cb1bb4906665acc414075e2f8143c2bbd should fix this.

[2016-03-04 09:57] budnix commented on #1501
I think that this can be a bug. To resolve this issue it's necessary to validate all methods and hooks to decide where row/column indexes should be represented as visual index (WYSIWYG) and where as physical (source data).

This issue is related to all plugins which somehow modifies/translates row/column indexes (eq. TrimRows, Sorting, ManualColumnMove etc.).

[2016-03-04 10:05] budnix commented on #2577
Confirmed. Bug still exists in v0.23.0.

[2016-03-04 10:25] jansiegel commented on #1697
@icode Thanks for the suggestion, but we're strongly rooted in the *DOM elements* approach, so we don't plan changing that in the foreseeable future.

[2016-03-04 10:29] budnix commented on #2550
I can reproduce similar issue (maybe the same). When I go to the [example](https://handsontable.com/examples.html?headers) page and try to directly enter value (eg <kbd>ALT</kbd>+<kbd>o</kbd> - polish `ó`) into selected cell then only first letter is appears. It seams like after entering first letter editor loosing focus.

This issue occurs only in Windows machine (OSX and Linux is fine).

[2016-03-04 10:33] budnix commented on #3276
I've no idea at the moment :)

[2016-03-04 10:33] AMBudnik commented on #3295
Hi @basrita
I couln't reproduce this behavior. I made a demo: http://jsfiddle.net/g4ftwqkg/2/ with those two settings and did:

1. Freezed `D` column
2. Got `D` freezed - as expected
3. Freezed `G` column
4. Got `D` and `G` columns freezed - as expected

Could you check this one again and guide me how to reproduce this behavior?

Thanks in advance!

[2016-03-04 10:35] AMBudnik commented on #3250
Thanks for feedback @abhilash503001 could you create a pull request with our solution?

[2016-03-04 10:35] jansiegel commented on #328
If I'm not mistaken, it shouldn't be an issue anymore.

[2016-03-04 10:35] #328 closed

[2016-03-04 10:42] yilongzhou opened #3296 "set a bottom border for one cell"
Hello:
       I have been updated to the latest version（0.23.0）.As the realease note:
          Fixed shifting cell meta when user wants to insert a new row or a column #1823

[code]

  Looking forward to your help.

  frank

[2016-03-04 10:47] jansiegel commented on #1789
Seems to work fine with the latest HOT version.

[2016-03-04 10:47] #1789 closed

[2016-03-04 10:49] budnix commented on #2483
Currently we do not accepts PR to editors. For now we gather the strength to refactor editors to newer architecture which should resolve all problems with editors overlapping by table wrapper. It should be done on the beginning of Q3.

[2016-03-04 10:52] jansiegel commented on #2407
Might be related to #2354

[2016-03-04 10:52] #2407 closed

[2016-03-04 10:52] budnix commented on #2152
I mark this as a performance improvements.

[2016-03-04 11:27] AMBudnik commented on #3294
Hi @sambsa Could you create a demo where we can interact with this issue? I would appreciate.

[2016-03-04 11:49] AMBudnik commented on #3293
Hi @tarehart
There's not a streight solution for this one but please take a minute to check my demo: http://jsfiddle.net/s3L8hm3b/5/

`MinSpareRows` gives cells a `null` value so if you will fill the new created row with an empty string you could compose your validation condition as:
`value === null || value !== ""`
so after a cell is added (trough a contextMenu) it would not past the validation b

[2016-03-04 11:52] AMBudnik commented on #3292
Hi @samdenicola it's not currently available. Actually this feature is at our feature request list at : https://github.com/handsontable/handsontable/wiki/Feature-requests

[2016-03-04 11:56] AMBudnik commented on #3296
Hi @yilongzhou could you share more details about what's the unwanted behavior in this case?

[2016-03-04 12:16] mfandre commented on #933
Jan,

May you send me a minified file from this commit?

On Fri, Mar 4, 2016 at 6:49 AM, Jan Siegel <notifications@github.com> wrote:

--
att.
André de Mattos Ferraz

[2016-03-04 13:28] budnix opened #3297 "Resetting columns via updateSettings throw an error"
JS error occurs when we try to reset columns via `hot.updateSettings({columns: []})`. This bug displays only when data source was provided as an array of arrays.

--------

##### Steps to reproduce:

* Go to http://jsfiddle.net/budnix/7yrbsyto/
* Click button "Clear columns"
* JS error occurs (handled by `try` `catch` clojure and printed in alert box)

[2016-03-04 13:52] AMBudnik commented on #3149
doesn't occur in it's original description.

[2016-03-04 13:58] alexpls commented on #3149
Hopefully this GIF shows the issue better. I can replicate using the JSFiddle linked above on OS X Safari 9.0.3 and Chrome 48.0.2564.116.
![u499kwn1w4-1](https://cloud.githubusercontent.com/assets/301630/13528905/da4f0de0-e264-11e5-875b-9af9f877eb45.gif)

[2016-03-04 14:24] jansiegel commented on #3149
Looks like a bug to me.

[2016-03-04 14:34] AMBudnik commented on #3065
Hi @jpravetz I couldn't reproduce this one. Can you check if it is still accurate for 0.23.0?

[2016-03-04 14:35] AMBudnik commented on #3056
issue already shared at https://github.com/handsontable/handsontable/issues/1678

[2016-03-04 14:35] #3056 closed

[2016-03-04 14:38] AMBudnik commented on #3042
Hi @YasserHassan and @SamMousa could you share more information how actually it should be configured to be clear? Do you have any ideas?

[2016-03-04 14:38] AMBudnik commented on #3024
Hi @cgatesman could you check if it still occurs for 0.23.0?

[2016-03-04 14:55] AMBudnik commented on #2906
already marked in https://github.com/handsontable/handsontable/issues/2076

[2016-03-04 14:55] #2906 closed

[2016-03-04 14:59] #2880 closed

[2016-03-04 15:07] AMBudnik commented on #2779
Hi @nothingmi and @tshort could you check it with the latest version?

Thanks in advance!

[2016-03-04 15:09] AMBudnik commented on #2777
Hi again @cyancdesign could you create a pull request for this one?
Thanks in advance!

[2016-03-04 15:11] AMBudnik commented on #2726
same topic as https://github.com/handsontable/handsontable/issues/3, please track changes to https://github.com/handsontable/handsontable/issues/3

[2016-03-04 15:11] #2726 closed

[2016-03-04 15:12] AMBudnik commented on #2725
Think it's the same issue as https://github.com/handsontable/handsontable/issues/2002

[2016-03-04 15:12] #2725 closed

[2016-03-04 15:16] AMBudnik commented on #2681
Hi @rjansen72 can you share a demo or more details? I'm not sure if I understand it correctly.

[2016-03-04 15:30] AMBudnik commented on #2456
Hi @YipYipX4 I had problems with reproducing. Could you check it with Handsontable 0.23.0?

[2016-03-04 15:43] AMBudnik commented on #3149
thanks for feedback @alexpls

[2016-03-04 16:06] jpravetz commented on #3065
I've made a note to check this, but it will be a few weeks before I can come back to the code base that uses handsontable. Thanks.

[2016-03-04 18:35] supersteves opened #3298 "npm install handsontable >>> 404 error"
https://www.npmjs.com/package/handsontable

it says:

```npm install handsontable```

but
[code]

also if fixed it needs something in the readme

[2016-03-04 18:56] tarehart commented on #3293
Hi @AMBudnik

Thanks for making the demo. Unfortunately it doesn't seem to solve the problem. If I click validate immediately after loading the fiddle, row 2 column 1 is marked invalid. If I fill in that cell, row 7 column 1 is marked invalid. If I type in row 3, column 2 and click validate, row 3 column 1 should be marked invalid but it is not.

My current workaround is to not bother with validat

[2016-03-04 23:20] samdenicola commented on #3292
We were actually able to resolve this issue by using the deselectCell method of HOT:

[code]

[2016-03-04 23:20] #3292 closed

[2016-03-05 05:42] jithintom08 commented on #2884
Thanks @mydea , Nice work.

[2016-03-05 14:55] anarabanana commented on #2696
For those who faced the problem with formatting calculated formula result precision with type:'"numeric" , format:"0.0", it is possible just to use like "=CEILING(SUM(C63:C68),1)" and value will be rounded.

[2016-03-06 03:08] yilongzhou commented on #3296
@AMBudnik
First of all, thank you for your warm reply. I describe my problem in detail as follows：
1.set a bottom border for one cell(row:0, col: 0)
2.insert a new row above(row: 0, which one has the bottom border)
3.question: I expect the bottom border to the next row(row:1, col:0) ，but still in the first row(row:0, col: 0)
Can you understand me now?

[2016-03-07 07:31] rbtbar commented on #1761
MS has recently informed they fixed the related [issue](https://connect.microsoft.com/IE/feedback/details/1001293/ie11-unable-to-synchronize-position-of-a-position-fixed-element-in-a-smooth-manner-while-scrolling-the-content-of-the-element-document)

I've tested it by myself and now scrolling up and down works fine in my [demo ](http://jsfiddle.net/rbtbar/1dudpeox/)as well as in the [performance t

[2016-03-07 08:48] AMBudnik opened #3300 "ManualColumnMove trigger position"
trigger's position seems to be shown incorrectly when mouse coursor is the middle of a column header.

demo:
https://handsontable.com/examples.html?headers&manual-resize&manual-move

result
![ll](https://cloud.githubusercontent.com/assets/10757813/13564398/9d6d26f0-e449-11e5-847e-2c4c00175031.png)

[2016-03-07 08:58] basrita commented on #3295
Hi @AMBudnik
I think problem with handsontable version i guess.currently i am using handsontable pro.I don't know whether the problem is with pro or not.

[2016-03-07 10:09] AMBudnik commented on #3295
Hi @basrita
I updated the example to use Handsontable PRO
http://jsfiddle.net/g4ftwqkg/3/ and the result is the same
Should I add any other settings?

[2016-03-07 10:20] AMBudnik commented on #3296
Reproduced. Border should be transfered with the cell (it should move to 2nd row)

result
![pp](https://cloud.githubusercontent.com/assets/10757813/13566454/fbef827a-e455-11e5-88cf-e04679d17d52.png)

related to https://github.com/handsontable/handsontable/issues/1823

[2016-03-07 10:20] basrita commented on #3295
Hi @AMBudnik

Thanks for response.when i am using the js file which you referenced in above example it is working but with my js file it is not working,

Thanks.

[2016-03-07 10:22] AMBudnik commented on #3295
@basrita you should check other settings and comment them line by line - maybe there are some influences between them.

Maybe some other script are injected to Handsontable?

[2016-03-07 10:24] basrita commented on #3295
ok thanks @AMBudnik .

[2016-03-07 10:41] DHoffm opened #3301 "Min width and height"
Hi is there an option for the minimum column width and the minimum row height?

[2016-03-07 11:04] AMBudnik commented on #3301
Hi @DHoffm you can use `rowHeights` to add minimum and default width for rows http://jsfiddle.net/bn3x5L0d/

As you can check `manualRowResize` isn't able to shrink row height to narrower than the value implemented with `rowHeights`

[2016-03-07 11:12] AMBudnik commented on #3293
Indeed when we fill the table another spare rows are marked as invalid.

[2016-03-07 11:15] AMBudnik commented on #3293
I will add this idea as an improvement suggestion.

[2016-03-07 11:20] AMBudnik commented on #3293
I'm transferring all the improvement suggestion to our Wiki section at: [improvement suggestions](https://github.com/handsontable/handsontable/wiki/Improvement-suggestions)

Please feel free to add any additional suggestions/tips or investigation results.

Issue is closed. It will be reopened with a developing update.

[2016-03-07 11:20] #3293 closed

[2016-03-07 11:20] AMBudnik commented on #1802
I'm transferring all the improvement suggestion to our Wiki section at: [improvement suggestions](https://github.com/handsontable/handsontable/wiki/Improvement-suggestions)

Please feel free to add any additional suggestions/tips or investigation results.

Issue is closed. It will be reopened with a developing update.

[2016-03-07 11:20] #1802 closed

[2016-03-07 11:20] AMBudnik commented on #2153
I'm transferring all the improvement suggestion to our Wiki section at: [improvement suggestions](https://github.com/handsontable/handsontable/wiki/Improvement-suggestions)

Please feel free to add any additional suggestions/tips or investigation results.

Issue is closed. It will be reopened with a developing update.

[2016-03-07 11:20] #2153 closed

[2016-03-07 11:21] AMBudnik commented on #1449
I'm transferring all the improvement suggestion to our Wiki section at: [improvement suggestions](https://github.com/handsontable/handsontable/wiki/Improvement-suggestions)

Please feel free to add any additional suggestions/tips or investigation results.

Issue is closed. It will be reopened with a developing update.

[2016-03-07 11:21] #1449 closed

[2016-03-07 11:21] AMBudnik commented on #2461
I'm transferring all the improvement suggestion to our Wiki section at: [improvement suggestions](https://github.com/handsontable/handsontable/wiki/Improvement-suggestions)

Please feel free to add any additional suggestions/tips or investigation results.

Issue is closed. It will be reopened with a developing update.

[2016-03-07 11:21] #2461 closed

[2016-03-07 11:21] AMBudnik commented on #2433
I'm transferring all the improvement suggestion to our Wiki section at: [improvement suggestions](https://github.com/handsontable/handsontable/wiki/Improvement-suggestions)

Please feel free to add any additional suggestions/tips or investigation results.

Issue is closed. It will be reopened with a developing update.

[2016-03-07 11:21] #2433 closed

[2016-03-07 11:21] AMBudnik commented on #1678
I'm transferring all the improvement suggestion to our Wiki section at: [improvement suggestions](https://github.com/handsontable/handsontable/wiki/Improvement-suggestions)

Please feel free to add any additional suggestions/tips or investigation results.

Issue is closed. It will be reopened with a developing update.

[2016-03-07 11:21] #1678 closed

[2016-03-07 11:21] AMBudnik commented on #795
I'm transferring all the improvement suggestion to our Wiki section at: [improvement suggestions](https://github.com/handsontable/handsontable/wiki/Improvement-suggestions)

Please feel free to add any additional suggestions/tips or investigation results.

Issue is closed. It will be reopened with a developing update.

[2016-03-07 11:21] #795 closed

[2016-03-07 11:21] AMBudnik commented on #2375
I'm transferring all the improvement suggestion to our Wiki section at: [improvement suggestions](https://github.com/handsontable/handsontable/wiki/Improvement-suggestions)

Please feel free to add any additional suggestions/tips or investigation results.

Issue is closed. It will be reopened with a developing update.

[2016-03-07 11:21] #2375 closed

[2016-03-07 11:21] AMBudnik commented on #1717
I'm transferring all the improvement suggestion to our Wiki section at: [improvement suggestions](https://github.com/handsontable/handsontable/wiki/Improvement-suggestions)

Please feel free to add any additional suggestions/tips or investigation results.

Issue is closed. It will be reopened with a developing update.

[2016-03-07 11:21] #1717 closed

[2016-03-07 11:21] AMBudnik commented on #2503
I'm transferring all the improvement suggestion to our Wiki section at: [improvement suggestions](https://github.com/handsontable/handsontable/wiki/Improvement-suggestions)

Please feel free to add any additional suggestions/tips or investigation results.

Issue is closed. It will be reopened with a developing update.

[2016-03-07 11:21] #2503 closed

[2016-03-07 11:21] AMBudnik commented on #2511
I'm transferring all the improvement suggestion to our Wiki section at: [improvement suggestions](https://github.com/handsontable/handsontable/wiki/Improvement-suggestions)

Please feel free to add any additional suggestions/tips or investigation results.

Issue is closed. It will be reopened with a developing update.

[2016-03-07 11:21] #2511 closed

[2016-03-07 11:22] AMBudnik commented on #2513
I'm transferring all the improvement suggestion to our Wiki section at: [improvement suggestions](https://github.com/handsontable/handsontable/wiki/Improvement-suggestions)

Please feel free to add any additional suggestions/tips or investigation results.

Issue is closed. It will be reopened with a developing update.

[2016-03-07 11:22] #2513 closed

[2016-03-07 11:22] AMBudnik commented on #2500
I'm transferring all the improvement suggestion to our Wiki section at: [improvement suggestions](https://github.com/handsontable/handsontable/wiki/Improvement-suggestions)

Please feel free to add any additional suggestions/tips or investigation results.

Issue is closed. It will be reopened with a developing update.

[2016-03-07 11:22] #2500 closed

[2016-03-07 11:22] AMBudnik commented on #2519
I'm transferring all the improvement suggestion to our Wiki section at: [improvement suggestions](https://github.com/handsontable/handsontable/wiki/Improvement-suggestions)

Please feel free to add any additional suggestions/tips or investigation results.

Issue is closed. It will be reopened with a developing update.

[2016-03-07 11:22] #2519 closed

[2016-03-07 11:22] AMBudnik commented on #2548
I'm transferring all the improvement suggestion to our Wiki section at: [improvement suggestions](https://github.com/handsontable/handsontable/wiki/Improvement-suggestions)

Please feel free to add any additional suggestions/tips or investigation results.

Issue is closed. It will be reopened with a developing update.

[2016-03-07 11:22] #2548 closed

[2016-03-07 11:22] AMBudnik commented on #3243
I'm transferring all the improvement suggestion to our Wiki section at: [improvement suggestions](https://github.com/handsontable/handsontable/wiki/Improvement-suggestions)

Please feel free to add any additional suggestions/tips or investigation results.

Issue is closed. It will be reopened with a developing update.

[2016-03-07 11:22] #3243 closed

[2016-03-07 11:22] AMBudnik commented on #3216
I'm transferring all the improvement suggestion to our Wiki section at: [improvement suggestions](https://github.com/handsontable/handsontable/wiki/Improvement-suggestions)

Please feel free to add any additional suggestions/tips or investigation results.

Issue is closed. It will be reopened with a developing update.

[2016-03-07 11:22] #3216 closed

[2016-03-07 11:22] AMBudnik commented on #3164
I'm transferring all the improvement suggestion to our Wiki section at: [improvement suggestions](https://github.com/handsontable/handsontable/wiki/Improvement-suggestions)

Please feel free to add any additional suggestions/tips or investigation results.

Issue is closed. It will be reopened with a developing update.

[2016-03-07 11:22] #3164 closed

[2016-03-07 11:22] AMBudnik commented on #3143
I'm transferring all the improvement suggestion to our Wiki section at: [improvement suggestions](https://github.com/handsontable/handsontable/wiki/Improvement-suggestions)

Please feel free to add any additional suggestions/tips or investigation results.

Issue is closed. It will be reopened with a developing update.

[2016-03-07 11:22] #3143 closed

[2016-03-07 11:22] AMBudnik commented on #3083
I'm transferring all the improvement suggestion to our Wiki section at: [improvement suggestions](https://github.com/handsontable/handsontable/wiki/Improvement-suggestions)

Please feel free to add any additional suggestions/tips or investigation results.

Issue is closed. It will be reopened with a developing update.

[2016-03-07 11:22] AMBudnik commented on #3082
I'm transferring all the improvement suggestion to our Wiki section at: [improvement suggestions](https://github.com/handsontable/handsontable/wiki/Improvement-suggestions)

Please feel free to add any additional suggestions/tips or investigation results.

Issue is closed. It will be reopened with a developing update.

[2016-03-07 11:22] #3082 closed

[2016-03-07 11:22] AMBudnik commented on #3078
I'm transferring all the improvement suggestion to our Wiki section at: [improvement suggestions](https://github.com/handsontable/handsontable/wiki/Improvement-suggestions)

Please feel free to add any additional suggestions/tips or investigation results.

Issue is closed. It will be reopened with a developing update.

[2016-03-07 11:23] AMBudnik commented on #3075
I'm transferring all the improvement suggestion to our Wiki section at: [improvement suggestions](https://github.com/handsontable/handsontable/wiki/Improvement-suggestions)

Please feel free to add any additional suggestions/tips or investigation results.

Issue is closed. It will be reopened with a developing update.

[2016-03-07 11:23] #3075 closed

[2016-03-07 11:23] AMBudnik commented on #3022
I'm transferring all the improvement suggestion to our Wiki section at: [improvement suggestions](https://github.com/handsontable/handsontable/wiki/Improvement-suggestions)

Please feel free to add any additional suggestions/tips or investigation results.

Issue is closed. It will be reopened with a developing update.

[2016-03-07 11:23] #3022 closed

[2016-03-07 11:23] AMBudnik commented on #2976
I'm transferring all the improvement suggestion to our Wiki section at: [improvement suggestions](https://github.com/handsontable/handsontable/wiki/Improvement-suggestions)

Please feel free to add any additional suggestions/tips or investigation results.

Issue is closed. It will be reopened with a developing update.

[2016-03-07 11:23] #2976 closed

[2016-03-07 11:23] AMBudnik commented on #2974
I'm transferring all the improvement suggestion to our Wiki section at: [improvement suggestions](https://github.com/handsontable/handsontable/wiki/Improvement-suggestions)

Please feel free to add any additional suggestions/tips or investigation results.

Issue is closed. It will be reopened with a developing update.

[2016-03-07 11:23] #2974 closed

[2016-03-07 11:23] AMBudnik commented on #2917
I'm transferring all the improvement suggestion to our Wiki section at: [improvement suggestions](https://github.com/handsontable/handsontable/wiki/Improvement-suggestions)

Please feel free to add any additional suggestions/tips or investigation results.

Issue is closed. It will be reopened with a developing update.

[2016-03-07 11:23] #2917 closed

[2016-03-07 11:23] AMBudnik commented on #2902
I'm transferring all the improvement suggestion to our Wiki section at: [improvement suggestions](https://github.com/handsontable/handsontable/wiki/Improvement-suggestions)

Please feel free to add any additional suggestions/tips or investigation results.

Issue is closed. It will be reopened with a developing update.

[2016-03-07 11:23] #2902 closed

[2016-03-07 11:23] AMBudnik commented on #2836
I'm transferring all the improvement suggestion to our Wiki section at: [improvement suggestions](https://github.com/handsontable/handsontable/wiki/Improvement-suggestions)

Please feel free to add any additional suggestions/tips or investigation results.

Issue is closed. It will be reopened with a developing update.

[2016-03-07 11:23] AMBudnik commented on #2829
I'm transferring all the improvement suggestion to our Wiki section at: [improvement suggestions](https://github.com/handsontable/handsontable/wiki/Improvement-suggestions)

Please feel free to add any additional suggestions/tips or investigation results.

Issue is closed. It will be reopened with a developing update.

[2016-03-07 11:23] #2829 closed

[2016-03-07 11:24] AMBudnik commented on #2886
I'm transferring all the improvement suggestion to our Wiki section at: [improvement suggestions](https://github.com/handsontable/handsontable/wiki/Improvement-suggestions)

Please feel free to add any additional suggestions/tips or investigation results.

Issue is closed. It will be reopened with a developing update.

[2016-03-07 11:24] #2886 closed

[2016-03-07 11:24] AMBudnik commented on #2877
I'm transferring all the improvement suggestion to our Wiki section at: [improvement suggestions](https://github.com/handsontable/handsontable/wiki/Improvement-suggestions)

Please feel free to add any additional suggestions/tips or investigation results.

Issue is closed. It will be reopened with a developing update.

[2016-03-07 11:24] #2877 closed

[2016-03-07 11:24] AMBudnik commented on #2836
I'm transferring all the improvement suggestion to our Wiki section at: [improvement suggestions](https://github.com/handsontable/handsontable/wiki/Improvement-suggestions)

Please feel free to add any additional suggestions/tips or investigation results.

Issue is closed. It will be reopened with a developing update.

[2016-03-07 11:24] DHoffm commented on #3301
But in your example I can still resize the columns to a smaller value by using the handle.

[2016-03-07 11:24] #2836 closed

[2016-03-07 11:25] AMBudnik commented on #2718
I'm transferring all the improvement suggestion to our Wiki section at: [improvement suggestions](https://github.com/handsontable/handsontable/wiki/Improvement-suggestions)

Please feel free to add any additional suggestions/tips or investigation results.

Issue is closed. It will be reopened with a developing update.

[2016-03-07 11:25] #2718 closed

[2016-03-07 11:26] AMBudnik commented on #2652
I'm transferring all the improvement suggestion to our Wiki section at: [improvement suggestions](https://github.com/handsontable/handsontable/wiki/Improvement-suggestions)

Please feel free to add any additional suggestions/tips or investigation results.

Issue is closed. It will be reopened with a developing update.

[2016-03-07 11:26] #2652 closed

[2016-03-07 11:26] AMBudnik commented on #2651
I'm transferring all the improvement suggestion to our Wiki section at: [improvement suggestions](https://github.com/handsontable/handsontable/wiki/Improvement-suggestions)

Please feel free to add any additional suggestions/tips or investigation results.

Issue is closed. It will be reopened with a developing update.

[2016-03-07 11:26] #2651 closed

[2016-03-07 11:26] AMBudnik commented on #2521
I'm transferring all the improvement suggestion to our Wiki section at: [improvement suggestions](https://github.com/handsontable/handsontable/wiki/Improvement-suggestions)

Please feel free to add any additional suggestions/tips or investigation results.

Issue is closed. It will be reopened with a developing update.

[2016-03-07 11:26] #2521 closed

[2016-03-07 11:26] AMBudnik commented on #2476
I'm transferring all the improvement suggestion to our Wiki section at: [improvement suggestions](https://github.com/handsontable/handsontable/wiki/Improvement-suggestions)

Please feel free to add any additional suggestions/tips or investigation results.

Issue is closed. It will be reopened with a developing update.

[2016-03-07 11:26] #2476 closed

[2016-03-07 11:26] AMBudnik commented on #2207
I'm transferring all the improvement suggestion to our Wiki section at: [improvement suggestions](https://github.com/handsontable/handsontable/wiki/Improvement-suggestions)

Please feel free to add any additional suggestions/tips or investigation results.

Issue is closed. It will be reopened with a developing update.

[2016-03-07 11:26] #2207 closed

[2016-03-07 11:26] AMBudnik commented on #2152
I'm transferring all the improvement suggestion to our Wiki section at: [improvement suggestions](https://github.com/handsontable/handsontable/wiki/Improvement-suggestions)

Please feel free to add any additional suggestions/tips or investigation results.

Issue is closed. It will be reopened with a developing update.

[2016-03-07 11:26] #2152 closed

[2016-03-07 11:27] AMBudnik commented on #1895
I'm transferring all the improvement suggestion to our Wiki section at: [improvement suggestions](https://github.com/handsontable/handsontable/wiki/Improvement-suggestions)

Please feel free to add any additional suggestions/tips or investigation results.

Issue is closed. It will be reopened with a developing update.

[2016-03-07 11:27] #1895 closed

[2016-03-07 11:27] AMBudnik commented on #1772
I'm transferring all the improvement suggestion to our Wiki section at: [improvement suggestions](https://github.com/handsontable/handsontable/wiki/Improvement-suggestions)

Please feel free to add any additional suggestions/tips or investigation results.

Issue is closed. It will be reopened with a developing update.

[2016-03-07 11:27] #1772 closed

[2016-03-07 11:27] AMBudnik commented on #1437
I'm transferring all the improvement suggestion to our Wiki section at: [improvement suggestions](https://github.com/handsontable/handsontable/wiki/Improvement-suggestions)

Please feel free to add any additional suggestions/tips or investigation results.

Issue is closed. It will be reopened with a developing update.

[2016-03-07 11:27] #1437 closed

[2016-03-07 11:28] AMBudnik commented on #3084
I'm transferring all the improvement suggestion to our Wiki section at: [improvement suggestions](https://github.com/handsontable/handsontable/wiki/Improvement-suggestions)

Please feel free to add any additional suggestions/tips or investigation results.

Issue is closed. It will be reopened with a developing update.

[2016-03-07 11:28] #3084 closed

[2016-03-07 11:29] AMBudnik commented on #2663
I'm transferring all the improvement suggestion to our Wiki section at: [improvement suggestions](https://github.com/handsontable/handsontable/wiki/Improvement-suggestions)

Please feel free to add any additional suggestions/tips or investigation results.

Issue is closed. It will be reopened with a developing update.

[2016-03-07 11:29] #2663 closed

[2016-03-07 11:36] AMBudnik commented on #3301
You're right.

If we're fixing minimum height of a row with `rowHeights` we should also get fixed minimum width of a column with `colWidths` (or just add separate option to both to disable shinking).

These two options should have the same privileges.

[2016-03-07 11:40] AMBudnik commented on #3065
OK, so I will close this issue till you get back.

[2016-03-07 11:40] #3065 closed

[2016-03-07 11:42] DHoffm commented on #3301
So this might get added in the future? Is there a css fix for this, via min-width/min-height?

[2016-03-07 11:59] AMBudnik commented on #3301
I'll open a disscusion about his subject at Friday with our programming team.

When it comes to a workaround I was trying to update `colWidths` via `updateSettings` using `afterColumnResize` (demo: http://jsfiddle.net/bn3x5L0d/2/) but it does not correspond to changed column.

Please stay tuned to this issue for updates

[2016-03-07 12:27] DavidMikeSimon commented on #3078
AMBudnik, this is not an improvement suggestion, it is a bug fix or possibly a bug workaround.

[2016-03-07 12:39] AMBudnik commented on #3078
Hi @DavidMikeSimon
Could you share a step-by-step scenario how to reproduce the issue you're facing here.
This topic is already very plentiful - I guess I misunderstood the idea.

[2016-03-07 13:15] jansiegel opened #3302 "Removing fixed columns makes part of the table unclickable."
After removing the fixed columns from the table, the space where they used to be doesn't shrink, which makes the _main_ part of the table unreachable.
This happens only when row headers are not enabled.

---
#### Steps to reproduce:
- Go to http://jsfiddle.net/js_ziggle/k06a2nb3/
- Click the button
- Try to select any cell in the first or second column

**Result:** The previously-fixed columns are

[2016-03-07 13:41] AMBudnik commented on #2822
I'm closing this issue but please feel free to update in any time.

[2016-03-07 13:42] #3224 closed

[2016-03-07 13:42] #3196 closed

[2016-03-07 13:42] #3226 closed

[2016-03-07 13:45] AMBudnik commented on #3232
I assume it can be the same issue. If not feel free to share more details.

[2016-03-07 13:45] #3232 closed

[2016-03-07 13:45] #3242 closed

[2016-03-07 13:45] #3247 closed

[2016-03-07 13:46] #2851 closed

[2016-03-07 13:46] AMBudnik commented on #3004
Issue will stay closed till it gets updated.

[2016-03-07 13:46] #3004 closed

[2016-03-07 13:49] AMBudnik commented on #3178
Issue closed in lack of needed demo for more than 2 weeks.

[2016-03-07 13:49] #3178 closed

[2016-03-07 14:02] castlese commented on #3004
Hey -  I'm no longer working on the project that is using HOT and having this issue. @gstenson, you might still have an interest in this though?

[2016-03-07 14:11] AMBudnik commented on #3099
thanks for sharing details @jakedeichert
I tried the second demo (with a workround) and it does not allow to exit edit mode and after that editing is freezed.
Sorry if I'm not getting the idea but maybe this one's a better approach http://jsfiddle.net/gnkaxfxu/2/?

[2016-03-07 14:12] sandzone commented on #3289
I managed to do this using bacon.js. It accounts for cell interdependencies. As of now, it calculates values for javascript formula instead of excel formula by using an eval function. To make it work for excel formulae, all one has to do is replace eval with Handsontable's ruleJS library. I couldn't find a URI for that library... hence eval.

https://jsfiddle.net/sandeep_muthangi/3src81n3/56/

[2016-03-07 14:14] AMBudnik commented on #3289
Thanks for sharing and provided feedback @sandzone

[2016-03-07 14:17] chandujha opened #3303 "Handsontable validation issue."
Hi I'm using the below function to validate, after validation i'm calling that function to store the excle data in db. I have 27 coloumns and it is in db its gettinng inserted by 26 times. please look in to this below code.

        $('#HSTable').handsontable('validateCells', function (isPass) {
            if (isPass) {

                SaveData();
                alert("Saving data");

[2016-03-07 16:09] finmt opened #3304 "How to Enable Formulas in Handsontable Pro"
How do you enable formulas in Handsontable Pro with ngHandsontable?

I included the "handsontable.full.js" and set: "formulas: true" in the grid settings... but formulas aren't evaluated when I enter them in grid cells.

Is there any other dependencies I need to include?

[2016-03-07 16:36] samsonkhisty commented on #3192
@AMBudnik

I still haven't been able to fix the issue using modifyRow, my CPU is through the roof.
Is there a way I can try the PRO version trimRows and see if my code works, I can then proceed to purchase.

Thanks.

[2016-03-07 16:42] samsonkhisty commented on #3192
@AMBudnik

I still haven't been able to fix the issue using modifyRow, my CPU is through the roof.
Is there a way I can try the PRO version trimRows and see if my code works, I can then proceed to purchase.

Thanks.

[2016-03-07 18:40] DavidMikeSimon commented on #3078
AMBudnik: The long and short of it is that the "Paste" command from the context menu does not and cannot read from the system clipboard. We need to either get rid of the command or implement a workaround. My PR referenced above does the latter.

[2016-03-07 18:52] jakedeichert commented on #3099
@AMBudnik hmmmm I think I remember testing that jsfiddle and it worked. I think since Handsontable was updated to 0.23.0 17 days ago, it has broke my work-around since that jsfiddle I believe links to the most up to date version of handsontable.full.js.

Could this be another bug causing my jsfiddle to break? The console says `Cannot read property 'allowEmpty' of undefined` however, according to t

[2016-03-07 18:57] jakedeichert commented on #3099
@AMBudnik yupp, I think I confirmed it.

Here's my same jsfiddle using an external resource of handsontable v0.22.0: http://jsfiddle.net/bcqrrgud/
Try my work-around now. The cell properly deletes if you enter a letter for example.

Note, my old jsfiddle (http://jsfiddle.net/gnkaxfxu/) was pointing to the latest version (0.23.0) of handsontable.full.js and I believe there's a new bug around `allow

[2016-03-07 19:05] samsonkhisty opened #3305 "hiding rows using modifyRow, getSourceAtDataRow returns hidden data"
Hi,
Check this jsFiddle,

https://jsfiddle.net/fuggfuggfugg/gjy1t9o4/1/

After the rows are hidden, I do console.log to print data for the hidden rows. If you check the console, it returns hidden data. Now this is an issue since I use one of the properties called "depth" to calculate padding for indentation in a custom renderer. This messes up my view.

[2016-03-07 20:01] gstanislav opened #3306 "HOT does more rendering after the "afterRender" event fires"
Docs for `afterRender` hook state that it is "fired after the Handsontable table is rendered". However, after this hook the `alignOverlaysWithTrimmingContainer` function is called, which performs more rendering stuff. Styles are overriden and cleared, `scrollTop` of overlays is modified, etc.

I see 2 issues:
1. `afterRender` hook name is misleading: more rendering is being done afterwards.
2. The

[2016-03-07 22:48] samsonkhisty commented on #3305
Closing issue, I somehow managed to find a solution. More in details in #3192

[2016-03-07 22:48] #3305 closed

[2016-03-07 23:00] samsonkhisty commented on #3192
@AMBudnik , @budnix

![bug](https://cloud.githubusercontent.com/assets/3254606/13586101/1a14f4d8-e48d-11e5-91ad-7b722aa9d9da.gif)

Finally managed to solve the issue after weeks of tinkering. we literally tried everything from hiding rows to the methods mentioned in the blog post. https://handsontable.com/blog/articles/3-ways-to-hide-rows-in-handsontable.

The modifyRow worked although it took a p

[2016-03-08 03:56] chandujha opened #3307 "Handsontable validation issue."
Hi, i'm having 27 column and i need to validate later i need to save. I have written the below code.

but issue is that it is iterating 27-1 time, so if give alert msg to its taking 26 time. here is the below code.

  $('button[name=validate]').on('click', function () {
            $('#example1').handsontable('validateCells', function (isPass) {
                debugger;
                if (isPass

[2016-03-08 08:41] AMBudnik commented on #3307
Hi @chandujha Please create a demo using JSFiddle/JSBin or CodePen it would be much easier to understand the goal and find a way to achieve it.

[2016-03-08 08:44] AMBudnik commented on #3192
@samsonkhisty great! I keep my fingers crossed for the future progress.
Thanks for your feedback.

[2016-03-08 09:35] chandujha commented on #3307
https://jsfiddle.net/chandan_jha/k3gg839k/

please find the link, please some one help me on this issue

[2016-03-08 09:45] AMBudnik commented on #3307
@chandujha could you provide steps how to manage the demo? (what should I download as there's no grid at the beginning) I've updated the demo https://jsfiddle.net/k3gg839k/3/ (jQuery was missing)

[2016-03-08 09:50] jansiegel opened #3308 "Implement option for custom sorting algorithms."
Add an option to declare a custom sorting algorithm.
Useful for, for example, sorting units ("1 yard" > "1 inch").

[2016-03-08 10:20] mainstream95 opened #3309 "Scrolling with huge data"
Why the more scrolling the worse it work, with more data.

for example at area of 0-30k  all is ok, but after 50 k it get worse and worse to edit and scrolling too.

http://jsfiddle.net/co9tscsk/

it mean that i can't use table with 500k data? i just saw this post and cant understand how
https://groups.google.com/forum/#!topic/handsontable/c0nUX4ckrSA

[2016-03-08 11:07] AMBudnik commented on #3307
I'm also closing https://github.com/handsontable/handsontable/issues/3303 as it refers to the same case.

[2016-03-08 11:07] AMBudnik commented on #3303
Please stick to https://github.com/handsontable/handsontable/issues/3307

[2016-03-08 11:07] #3303 closed

[2016-03-08 12:10] AMBudnik commented on #3099
thanks for feedback and detailed explanation @jakedeichert

[2016-03-08 12:12] AMBudnik commented on #3078
Thanks for feedback @DavidMikeSimon

[2016-03-08 12:22] AMBudnik commented on #3304
Hi @finmt I see that you would like to have all-in-one here which I surely understand.

What's the case? Formulas are still in beta mode (they are on our Roadmap for Q4). Currently we're working on providing support of PRO features using Angular version of Handsontable and it should be ready soon - I guess the best way here is to stay tuned with our release notes.

[2016-03-08 12:25] #2853 closed

[2016-03-08 12:25] AMBudnik commented on #2858
Closed till and author's reply or new comment.

[2016-03-08 12:25] #2858 closed

[2016-03-08 12:28] AMBudnik commented on #3252
Hi @PhpSriptKiddie
If you're still looking for an answer please create a demo that will bring some light to 3rd point of your last comment.
I'm closing this issue till it gets updated.

[2016-03-08 12:28] #3252 closed

[2016-03-08 12:28] AMBudnik commented on #3241
Issue closed in lack of needed demo for more than 2 weeks.

[2016-03-08 12:28] #3241 closed

[2016-03-08 14:17] chandujha commented on #3307
i'm using it through MVC, so some of the code was working through MVC. i will post you soon

[2016-03-08 14:32] AMBudnik commented on #3307
alright @chandujha take your time

[2016-03-08 15:47] DavidMikeSimon commented on #3078
@AMBudnik Anything I should do on my PR to get it okay for merging?

[2016-03-08 20:17] mfandre commented on #933
Waiting for response.

On Fri, Mar 4, 2016 at 9:16 AM, André de Mattos Ferraz <fandre@gmail.com>
wrote:

--
att.
André de Mattos Ferraz

[2016-03-08 22:09] samsonkhisty commented on #2837
@artsince

I just implemented this in our own fork. You just need to add another condition for column and row in the [onCellMouseDown](https://github.com/handsontable/handsontable/blob/128f649a9fc4c4d370892168476239cd0d44b716/src/tableView.js#L299) method.

I just wanted the shift+row click so I added this

    else if (event.shiftKey) {
          if (coords.row >= 0 && coords.col >= 0) {

[2016-03-09 06:44] isiddhant commented on #2822
Yes this issue is still there, please see the attached screenshot.

http://jsfiddle.net/duccoder/u9pe4qdk/

 I have highlighted the "Undefined"
![capture](https://cloud.githubusercontent.com/assets/17636666/13627420/5fe3fd74-e5f0-11e5-8e24-e629faee6a5b.PNG)

[2016-03-09 08:59] AMBudnik commented on #2822
Thanks for sharing @isiddhant

[2016-03-09 09:09] AMBudnik commented on #3078
@DavidMikeSimon It's always better for developers to get a simple scenario and a demo how to reproduce the issue.

[2016-03-09 10:58] AMBudnik commented on #3309
Thanks for sharing demo and the details @mainstream95

[2016-03-09 11:19] Adelor commented on #3263
I have the same issue. The selectCell function doesn't scroll vertically if renderAllRows: true
Upon debugging, I found that the scrolling logic is located in the
`scrollViewport: function(coords) { `
...
function. The table is scrolled vertically here:
`    if (coords.row >= fixedRowsTop && coords.row < this.getFirstVisibleRow()) {
      topOverlay.scrollTo(coords.row);
    } else if (coords.row

[2016-03-09 11:24] AMBudnik commented on #3309
It is possible to load more than 500k rows. In this example http://jsfiddle.net/handsoncode/g4ftwqkg/6/ we have 1kk rows it does not work smoothly but you can edit or save data.

[2016-03-09 13:10] d-haber commented on #3234
Will do, and thanks!

[2016-03-09 17:51] mainstream95 commented on #3309
Ok)i hope this issue will be solved soon

[2016-03-09 21:30] darkguy2008 opened #3310 "Format column header with data object field?"
Hello, I'm trying to evaluate HOT in order to buy a license but I'm having some issues with the nested headers plugin:

I have a dynamic sequence of columns I need to add, which come in a "yearly" basis data type. I need to make some columns children of a nested header which needs to display the current year of the data underneath.

For instance, something like this:
[code]
Where 2012/05/12 is a f

[2016-03-10 05:15] sambsa commented on #3294
please refer the fiddle http://jsfiddle.net/hU6Kz/4864/. You can check using this fiddle

[2016-03-10 05:41] sambsa commented on #3294
Problem solved. The main data array need to be updated while I am assigning value of one row to another.

`g.each(function(i, v) {
            f.eq(i).text(g.eq(i).text());
             data[i][3] = g.eq(i).text(); //Need to add the changes to the data array
            });`

[2016-03-10 08:32] AMBudnik commented on #3294
great to hear that everything's working as expected @sambsa
I'm closing this issue.

[2016-03-10 08:32] #3294 closed

[2016-03-10 08:34] AMBudnik commented on #3310
Hi @darkguy2008 if you could share a demo with your recent progress I'd be happy to help. It would bring me more light on your goal.

[2016-03-10 08:39] sambsa commented on #3294
ok buddy, cheers!!

Thanks&Regards
Santhosh Samban

On Thu, Mar 10, 2016 at 2:02 PM, Aleksandra Budnik <notifications@github.com

[2016-03-10 09:15] jansiegel commented on #3308
In the next iteration, it would be a good idea to move the `sortFunction` and `sortIndicator` properties to the column settings, so that all the sorting-related options would be defined in the same object.

[2016-03-10 11:37] PredatoryPlatanus opened #3311 "HOT breaking scroll when resizing fixed columns"
Using manual column resize and fixed columns is buggy: when enlarging fixed column in a way so total fixed columns width is bigger than container (i.e. allowed space on screen) it will break scrolling and you wouldn't be able to scroll past fixed columns.
Also setting this width on load also breaks scroll.

[jsFiddle](http://jsfiddle.net/21vuwpkk/)
[webm demo](http://webmshare.com/44x3B)

[2016-03-10 11:57] AMBudnik commented on #3311
Thanks for sharing @PredatoryPlatanus
Indeed it flickers and does not display anything after scrolling (OSX) when fixed column are wider than the window.

[2016-03-10 13:45] dixso opened #3312 "Cell validation after the column move"
Hi,
When I move a column with a new position, the application crashes on the validation cell.

Example:
- http://jsfiddle.net/dixso/d5oxfjbt/

Demo:
- https://www.dropbox.com/s/k5z0k47v67ipx4y/cell.mov?dl=0

[2016-03-10 13:49] krzysztofspilka opened #3313 "Move the sortFunction and sortIndicator properties to the column settings"
Connected with: #3308

It would be a good idea to move the `sortFunction` and `sortIndicator` properties to the column settings, so that all the sorting-related options would be defined in the same object.

It may be done together with the refactor of the sorting feature.

[2016-03-10 13:53] AMBudnik commented on #3312
Thanks for sharing @dixso
Confirmed.

[2016-03-10 15:34] samsonkhisty opened #3314 "Is it possible to change the default datepicker to a bootstrap datepicker?"
I use bootstrap datepicker in my app and would like to keep it consistent.

Thanks in advance.

[2016-03-10 15:38] gstanislav opened #3315 "Manually merged cells become unmerged after updateSettings"
http://jsfiddle.net/e0jsgxv4/4/

1. Merge some cells via context menu.
2. Click "updateSettings" button.

Expected result: nothing happens.

Actual result: cells become unmerged.

[2016-03-10 15:47] AMBudnik commented on #3315
Thanks for sharing @gstanislav
I trought that maybe adding `mergeCells: true` to `updateSettings` would help but it doesn't prevent from unmerging cells.

[2016-03-10 15:50] AMBudnik commented on #3314
Hi @samsonkhisty
I guess we've never tried but I can't see that happening without actually changing the code.

[2016-03-10 15:57] samsonkhisty commented on #3314
Hi @AMBudnik,
Thanks for quick reply. I am currently looking into the possibility to extend DateEditor and replace pickaday with bootstrap and see how it goes.

[2016-03-10 16:05] JamesHenry commented on #3163
Please can we revisit this now that Chrome 50 is latest stable release? I was going to report it as an issue but fortunately found this existing one.

Every app that uses handsontable in Chrome 50 will receive this message:
![unspecified](https://cloud.githubusercontent.com/assets/900523/13675429/75068a5c-e6d9-11e5-8751-25fa7f9ee0d9.png)

Obviously it is totally up to you guys how you manage your

[2016-03-10 16:21] AMBudnik commented on #3314
I have to say that it's an interesting case.
I would appreciate if you could share your investigation results.
Keep my fingers crossed for progress.

[2016-03-10 22:15] IntegerMan commented on #3233
I'm also seeing an issue with this - not with multiple instances, but with HoT simply refusing to respond to manualRowMove or manualColumnResize. I'm trying to isolate steps for this so that it can be JSFiddle-ized, but so far no luck. Any chance this fix will help my issue? Also has this been deployed yet?

[2016-03-10 23:35] krzysztofspilka commented on #3309
@mainstream95 could you please share the details on your system, namely a browser ver., OS and the machine details (RAM, processor)? By the way, in your demo you have 8.5 mln cells so the object itself is huge enough to slow things down as Handsontable doesn't cache source data.

[2016-03-11 00:21] samsonkhisty commented on #3314
@AMBudnik  Yup! :)

![bs datepicker](https://cloud.githubusercontent.com/assets/3254606/13688819/4dffe8cc-e6f2-11e5-81af-22be1525364f.gif)

I've a small bug yet to figure out maybe  you can shed some light. In the pikaday, if one datepicker is open and you click of the dropdown arrow of another date, the behaviour is such that it closes the datepicker that was open. This isn't the case in the boot

[2016-03-11 00:21] samsonkhisty commented on #3314
attaching gif of the bug

![bug](https://cloud.githubusercontent.com/assets/3254606/13689208/5861227e-e6f5-11e5-98d1-d71e66ee0dc3.gif)

[2016-03-11 07:55] ds009 opened #3316 "manual resize row height problem"
When rowHeights are given, I can't decrease rowheights( by handles on rowheaders) to a value less than initial value. I think it's caused by these:

at row 16197, in function **onModifyRowHeight**,in the file** handsontable.full.js**
`if (manualRowHeight !== void 0 && (manualRowHeight === autoRowHeightResult || manualRowHeight > (height || 0))) {
        return manualRowHeight;
      }`

[2016-03-11 08:48] jansiegel commented on #3301
@DHoffm, @AMBudnik That's true, this behaviour should be consistent in `colWidths` and `rowHeights`.

Until they are, the workaround for this can be using the `modifyColWidth` hook, checking if the manually changed column width is more narrow the the width in the settings.
I've modified the jsfiddle with an example implementation: http://jsfiddle.net/js_ziggle/xxa8an7h/

[2016-03-11 08:58] jansiegel commented on #933
@mfandre This commit will be included in the next release, scheduled for this Monday (March 14th). Do you think you can wait until then?

[2016-03-11 09:12] budnix commented on #3298
Hi @supersteves, Handsontable is already registered in npm registry. Currently it is only registered without browserify support (https://github.com/handsontable/handsontable/issues/2980) but this should be done in the next release (probably 0.25.0).

[2016-03-11 09:22] budnix commented on #3163
I think that this is not a bug. We provide fallback (feature detection) for this functionality, if the judgment day comes Handsontable will still be working. In the feature we can try to switch to ES2015 proxies or getters/setters to achieve similar functionality.

Currently i suggest to mark this issue as low priority and not a bug but rather as a change.

[2016-03-11 09:47] budnix commented on #3306
Hi @gstanislav, I think that you are right. `afterRender` hook should fire like its name says after table renders (after all calculations applied to the DOM). I marking this issue as a bug.

[2016-03-11 10:21] JamesHenry commented on #3163
I agree :+1:

[2016-03-11 10:34] AMBudnik commented on #3316
Hi @ds009 am I thinking correctly that this is the same issue as described in https://github.com/handsontable/handsontable/issues/3301?

[2016-03-11 10:41] AMBudnik commented on #3314
Presents great with Bootstrap!

When it comes to the second case it looks like a bug. I'll mark this one for our programmers to look at.

[2016-03-11 10:41] jansiegel commented on #3099
@jakedeichert, @AMBudnik

Ok, first thing - the documentation for `afterValidate` is misleading indeed. Returning `false` from the callback does *not* cancel any changes. What it does, is marking the cell as invalid (which can disallow the change, when using it with `allowInvalid: false`). It should be updated, for sure.

Second thing - the `allowEmpty` problem is caused by running the validator w

[2016-03-11 10:45] gstanislav opened #3317 "After editing a dropdown value, blue blip in the right bottom corner does not appear"
https://docs.handsontable.com/0.23.0/demo-dropdown.html

Try editing a dropdown value via editor. After the cell is modified, the blue blip disappears:

![image](https://cloud.githubusercontent.com/assets/7578355/13700044/7dfc7a48-e78f-11e5-9251-d22087b1457f.png)

[2016-03-11 10:50] AMBudnik commented on #3317
I see the case. You would like to open and close a dropdown via trigger. Now it is only available by clicking <kbd>enter</kbd>

[2016-03-11 10:56] jansiegel commented on #3099
Change in the docs (https://github.com/handsontable/handsontable/commit/06006007fac4bf293a57180cb8c1734986c30d47) was pushed to the develop branch and will be out with the next release (scheduled for Monday, March 14th)

[2016-03-11 11:15] gstanislav commented on #3317
Wait, no, this is a bug. The blue blip in the right bottom corner of blue selection box doesn't appear.

[2016-03-11 11:39] krzysztofspilka commented on #3281
@jansiegel please notify me when it's fixed

[2016-03-11 11:43] krzysztofspilka commented on #3317
@gstanislav @AMBudnik this is some small glitch. Indeed, when editing e.g. first cell in the "Chassis color" column and pressing enter the selection is moved to the cell below but the fill handle disappears.

[2016-03-11 11:44] AMBudnik commented on #3317
If we would like it to be there after opening the list it should point to the roof - as the representation that the list is opened and could be easily closed by the same click.

Proposition
![zrzut ekranu 2016-03-11 o 12 23 04](https://cloud.githubusercontent.com/assets/10757813/13701228/c024a106-e786-11e5-83d6-d37dc9c703a6.png)

[2016-03-11 11:45] DHoffm commented on #3301
Hi, thank you for the fiddle. How would I utilize this in the angular directive?

[2016-03-11 11:46] krzysztofspilka commented on #3316
@ds009 the minimum row height is 23px. To which value is the height decreased in your case?

[2016-03-11 11:51] krzysztofspilka commented on #3312
@dixso @AMBudnik I've tested it just now and it works fine after the change made in #3281. We expect v. 0.24.0 to be released on Monday or Tuesday next week (14 or 15 March).

[2016-03-11 11:51] DHoffm commented on #3301
Nevermind...found it myself. Via:

<hot-table settings="{modifyColWidth:modifyColWidth}"></hot-table>

[2016-03-11 12:01] mfandre commented on #933
Yes I can!

Thx in advance

On Fri, Mar 11, 2016 at 5:59 AM, Jan Siegel <notifications@github.com>
wrote:

--
att.
André de Mattos Ferraz

[2016-03-11 12:25] gstanislav commented on #3317
@AMBudnik  The bug is about the blue thingie in the blue selection box. This is how it should look like:

![image](https://cloud.githubusercontent.com/assets/7578355/13702118/586125dc-e79d-11e5-9487-83965cdd265c.png)

This is how it looks like:

![image](https://cloud.githubusercontent.com/assets/7578355/13700044/7dfc7a48-e78f-11e5-9251-d22087b1457f.png)

[2016-03-11 12:27] AMBudnik commented on #3317
Ah... ok - thanks for details @gstanislav

[2016-03-11 12:50] jansiegel opened #3318 "Add a separate sorting algorithm for the numeric cell type."
There should be a separate sorting algorithm for the `numeric` cell type. If data for this type of cells is provided as strings (e.g. `'2137'`), sorting will not work properly.

[2016-03-11 13:47] ds009 commented on #3316
@AMBudnik Thanks, I didn't see that issue.

[2016-03-11 13:47] #3316 closed

[2016-03-11 14:27] samsonkhisty commented on #3314
hi @AMBudnik

Here's my code for bootstrap datepicker. I hope it helps the programmer to replicate the issue.

https://gist.github.com/samsonkhisty/5ce9750a1f5c268a7d09

Thanks again.

[2016-03-11 15:00] #3314 closed

[2016-03-11 15:24] jakedeichert commented on #3099
@jansiegel thanks for updating the documentation!

Also, that solution works great. It avoids the quick red flicker that my workaround had.

Thanks for the help. I think you can close this?

[2016-03-11 15:27] AMBudnik commented on #3099
@jakedeichert as it is already merged to he develop branch I also think that we can close this issue.
thank you @jansiegel

[2016-03-11 15:27] #3099 closed

[2016-03-11 15:30] IntegerMan commented on #3233
An update on my non-sequitur issue. I've determined that my problem was unrelated to the issue reported in this thread and was a subtle issue caused by not including zeroClipboard.js. Don't worry about my prior statement.

[2016-03-11 16:29] krzysztofspilka opened #3319 "Alignment disables undo functionality"
When I do some changes in the dataset and then change the alignment from the context menu then it's impossible to revert the changes using `ctrl+z`.

http://jsfiddle.net/328cooz7/
##

Handsontable v. 0.24.0
Windows 8.1
Chrome (latest)

[2016-03-11 16:44] krzysztofspilka commented on #3319
It's even worse. Steps to reproduce the problem:

1. Head to http://jsfiddle.net/328cooz7/
2. Set a different alignment for the first column
3. Press `ctrl+z` (nothings happens)
4. Now make any change, for example select all the cells and press `ctrl+z` - it doesn't work anymore

[2016-03-11 17:31] dixso commented on #3312
Hi @krzysztofspilka @AMBudnik ,
Yes, I tested on branch develop it and it works.

But I've found a new bug related to the above bug.
Example:
- http://jsfiddle.net/dixso/d5oxfjbt/1/
Demo:
- https://www.dropbox.com/s/wqfenjyctx0qzfs/cell2.mov?dl=0

[2016-03-11 20:02] jrowen opened #3320 "Last row wrapping with Date column"
See the first table at http://jrowen.github.io/rhandsontable/.  You'll notice that the last row height is larger than the rest, and this only occurs when a Date column (with date picker) occurs in the table.  This is a difficult issue to reproduce outside of this situation, so I'm looking for some guidance.  Thanks.

[2016-03-11 20:32] IntegerMan commented on #3286
Thanks for the information on the pro features / marketplace. That's interesting. My organization is also evaluating your component. It's definitely hard to pull the trigger and justify a larger license for subscriptions without being able to test out the professional features. This is important as there are many little 'gotchas' that need to be discovered and worked around and we need to be respo

[2016-03-11 22:46] samsonkhisty opened #3321 "performance issue with my expand collapse logic"
Hi @AMBudnik
   I implement expand collapse on the table, I have a weird performance issue that I have trouble figuring out. FYI I have 1 fixed row and custom renderers for each column. However, expanding and rendering the table is 3 times faster than collapsing the table. Look at the gif and notice the values in the console.

![bug4](https://cloud.githubusercontent.com/assets/3254606/13717488/e72

[2016-03-12 09:20] mahinder commented on #1326
Hey,

I was looking on page but not get any idea about how I can add information about my own Gem .

Thanks,
Mahinder

[2016-03-12 11:22] jianyi0115 commented on #2925
I meet the same issue:
 http://jsfiddle.net/2ujz42y6/5/

[2016-03-12 15:02] krzysztofspilka commented on #3312
@jansiegel it's just gettin' better :) @dixso thanks, we'll try to fix that before the release.

[2016-03-13 00:06] SuperMario77 commented on #3261
I have the same problem with language 'de' and copy/paste numeric values (version 0.23.0). There is also a stackoverflow thread for this:
http://stackoverflow.com/questions/35960723/handsontable-i-found-a-bug-when-copying-pasting-a-german-numeric-value

The proposed solution is a fix in the numeral.js library (which is no longer maintained). This fix solves the issue #3285, #2166 and also this iss

[2016-03-14 04:38] tranvietha opened #3322 "Can't get handsontable object"
Dear all,
I have used handsontable for my project but I have a problem with get handsonable object. Pls help me.

In my document.ready, I created handsontable with data like this:

var $container = $("#example1grid");
$container.handsontable({
				  	data: data,
				  	// disable drag-down cell
				  	//fillHandle: false,
				  	// render lai header cua spreedsheet
		  			afterRender: function ()

[2016-03-14 09:04] AMBudnik commented on #3322
Hi @tranvietha It would be very helpful if you could share your demo using [JSFiddle](http://jsfiddle.net/api/post/library/pure/)

Please take a minute also to check our Data Sources tutorial: https://docs.handsontable.com/0.23.0/tutorial-data-sources.html

[2016-03-14 11:20] krzysztofspilka commented on #3321
@samsonkhisty how big is your data set?

[2016-03-14 11:35] AMBudnik opened #3323 "Sorting of fixed column actually sorts another column"
reported at: https://forum.handsontable.com/t/sorting-of-fixed-column-actually-sorts-another-column/217

as said:

[2016-03-14 11:36] AMBudnik commented on #3323
while testing I also got missing indicator.

[2016-03-14 11:56] mzagorny commented on #3323
Here is the demo of jsfiddle above.

![ezgif com-video-to-gif 1](https://cloud.githubusercontent.com/assets/3679134/13743766/c57dee26-e9f4-11e5-9eed-7272087f7e18.gif)

[2016-03-14 12:12] AMBudnik commented on #1326
Hi @mahinder
I'll talk with our developing team and I'm back with updates.

[2016-03-14 12:29] AMBudnik commented on #3286
Hi @IntegerMan
Using Handsontbale PRO on you test/dev enviroment is for free.
If you would like to test it before use just write to us at hello@handsontable.com

[2016-03-14 12:32] budnix commented on #2980
@jansiegel To test this issue please use this branch https://github.com/handsontable/hot-builder/issues/16.

[2016-03-14 12:44] AMBudnik commented on #3320
Hi @jrowen
please take a minute to check this demo: http://jsfiddle.net/handsoncode/b9f4evx0/
It's hard to say anything if you didn't provide us code that is used to build the instance.Could you try to replicate the same issue with provided demo?

[2016-03-14 12:50] AMBudnik commented on #3261
Thanks for sharing additional information @SuperMario77

[2016-03-14 13:30] jrowen commented on #3320
I think I was able to put together a demo: http://jsfiddle.net/jrowen/b9f4evx0/2/.  The issue appears to be related to the font settings.

[2016-03-14 13:44] samsonkhisty commented on #3321
@krzysztofspilka
I've got around 600 rows, 15 columns, 1 fixed column.

[2016-03-14 14:57] AMBudnik commented on #3320
Yes, it's the font.
Thanks for sharing additional info @jrowen

I'm marking this issue as a bug.

[2016-03-14 15:17] budnix commented on #3320
Hi @jrowen, increasing `sampleRatio` to `10` is a solution, see [demo](http://jsfiddle.net/b9f4evx0/4/). This occurs because `AutoColumnSize` plugin tries to calculate width not for all rows but for rows where cell data has different length. Plugin collects by default 3 samples of cells value of the same length. In the demo you use font which has different width for every alphanumeric symbol so in

[2016-03-14 15:54] #3259 closed

[2016-03-14 15:54] #3217 closed

[2016-03-14 15:55] #3273 closed

[2016-03-14 18:33] IntegerMan commented on #1904
This feature would be extremely helpful. I noted that there was no comment on adding such a provision. It sounds like there's no hands.

This would have saved me a lot of aggravation in trying to resolve synchronization issues caused by needing to perform manual operations on move that inherently affect the underlying data, causing the HoT to become out of sync with its data source after the sourc

[2016-03-14 19:45] ChristinaTech opened #3324 "Misalignment when columnHeaderHeight and fixedColumnsLeft are used together"
When a custom value for columnHeaderHeight and a non-zero fixedColumnsLeft are specified all the non-fixed columns go out of alignment. Tested on Chrome.

JSFiddle:
http://jsfiddle.net/hU6Kz/4883/

[2016-03-15 07:09] Nao-K commented on #3236
Please add following property:
outsideClickDeselects: false

And use this:
hot1.copyPaste.triggerPaste();

http://jsfiddle.net/nao_k/7u1kxjLe/37/

[2016-03-15 08:28] AMBudnik commented on #3324
Thanks for sharing @Scentus Confirmed

[2016-03-15 08:29] AMBudnik commented on #3324
result
![bez tytulu](https://cloud.githubusercontent.com/assets/10757813/13771760/68bd3420-ea90-11e5-8e11-2ae2995c0edc.png)

[2016-03-15 09:15] basrita opened #3325 "Want to display different editors for same column based on row index."
Hi Team,

I am having a requiment like:

for a column i have specified editor as select and given options also.It if working good.
but i options have to change dynamically based on row index.

I have tried several ways to do it but unable to find any solution.

Is there any solution to acheive this.

Thanks in advance,

[2016-03-15 09:58] kristianlm opened #3326 "dataSchema not working after version 0.19.0"
Hi and great work on this easy-to-use-online-table-editing! I think I may have found a bug.

1. Go here: http://docs.handsontable.com/0.23.0/tutorial-data-sources.html#page-data-schema
2. Click the 'edit in JSFiddle' button
3. It takes you to a 0.16.0-version of the example
4. It works (`hot5.getData()` returns array of objects based off of the schema, good)
5. Change the version to anything betwe

[2016-03-15 10:42] DHoffm commented on #3233
Any updates on this topic? Will the rewrite also fix to this bug aswell: https://github.com/handsontable/handsontable/issues/2868

[2016-03-15 11:08] #3095 closed

[2016-03-15 11:32] #2719 closed

[2016-03-15 11:32] #3091 closed

[2016-03-15 11:32] #3134 closed

[2016-03-15 11:32] #3254 closed

[2016-03-15 11:32] #3255 closed

[2016-03-15 11:32] #3275 closed

[2016-03-15 11:32] #3281 closed

[2016-03-15 11:32] #3297 closed

[2016-03-15 11:32] #3308 closed

[2016-03-15 11:32] #3318 closed

[2016-03-15 12:25] lielran commented on #3091
:+1: Thanks

[2016-03-15 12:32] AMBudnik commented on #3233
Example updated to 0.24.0 http://jsfiddle.net/handsoncode/dz6jrr24/12/ Confimed working.
Could you test it @DHoffm @IntegerMan ?

[2016-03-15 12:40] AMBudnik commented on #3326
Hi @kristianlm
Please check this example:http://jsfiddle.net/handsoncode/g047w42m/
In [0.20.0](https://github.com/handsontable/handsontable/releases/tag/0.20.0) we made some changes with `getData()` and `getSourceData()` which should be typed to get the same result as `getData()` in version below 0.20.0

[2016-03-15 12:55] AMBudnik commented on #3325
Hi @basrita

Please take a minute to check this demo http://jsfiddle.net/handsoncode/d2kc97db/1/
It's not elegant but it might help.

Please pick any option from first row for `Chassis color` dropdown.
You'll get new values for `Bumper color` dropdown.

To serve wanted dropdown list just use `instance.getDataAtCell(row, col)`

[2016-03-15 12:57] DHoffm commented on #3233
Thx seems to work for me!

[2016-03-15 13:16] IntegerMan commented on #3233
Everything looks fine to me, but @DHoffm's issue was different than mine it turns out - mine wound up being on my side as a subtle side effect of us not including zeroClipboard, so he's definitely the person to judged resolved status.

[2016-03-15 13:16] kristianlm commented on #3326
My bad! I missed `getSourceData()`, it's even mentioned in the docs for [`getData()`](http://docs.handsontable.com/0.24.0/Core.html#getData).

Thanks @AMBudnik for your swift response!

[2016-03-15 13:16] #3326 closed

[2016-03-15 13:20] AMBudnik commented on #3233
Thanks for feedback @IntegerMan
@DHoffm #2868 was closed as we added [rowHeaderWidth](https://docs.handsontable.com/0.24.0/Options.html#rowHeaderWidth)

Thanks again for you feedback and time. I assume I can close this issue.

[2016-03-15 13:24] DHoffm commented on #2868
I thought the question was about resizing. What I need is to be able to manually resize the header (like normal rows). Because the labels differ in length and its not sure on the first start what the perfect width should be. So setting a fixed width via "rowHeaderWidth" isn't the perfect solution.

[2016-03-15 13:31] AMBudnik opened #3327 "Resizable row/col headers"
As we have an ability to resize columns and rows this idea will extend this ability to resize row/col headers.

Currently we can only set fixed values via [columnHeaderHeight](http://docs.handsontable.com/0.24.0/Options.html#columnHeaderHeight) and [rowHeaderWidth](http://docs.handsontable.com/0.24.0/Options.html#rowHeaderWidth)

[2016-03-15 13:33] AMBudnik commented on #2868
@DHoffm I added you idea here: https://github.com/handsontable/handsontable/issues/3327
If you would have any other questions/suggestions or tips relates to that subject please comment at https://github.com/handsontable/handsontable/issues/3327

[2016-03-15 14:35] DHoffm commented on #3327
For anyone needing this, here is a workaround:

Calculate the textWidth for each rowHeader with:

`
// found via: http://stackoverflow.com/a/15302051/3298029
$.fn.textWidth = function(text, font) {
    if (!$.fn.textWidth.fakeEl) $.fn.textWidth.fakeEl = $('<span>').hide().appendTo(document.body);
    $.fn.textWidth.fakeEl.text(text || this.val() || this.text()).css('font', font || this.css('font')

[2016-03-15 20:34] kakabomba opened #3328 "beforeColumnResize and beforeRowResize first argument is column width"
in beforeColumnResize hook first passed argument is column width not column index
`beforeColumnResize: function (currentColumn, newSize, isDoubleClick) {`
`console.log(currentColumn, newSize, isDoubleClick);`
`},`

gives
`154, 154, undefined`

[2016-03-16 07:10] basrita commented on #607
Hi guys,

I am facing an issue in this.

I am calling my own function in the getPage() .
In my function i wrote one http call.

It is working fine for me but the problem is with out getting the response from 1st request 2nd and 3rd requests are calling.I don't know why it is happening due to delay or some thing else.
I don't want this behavior in my application.

please help me in this regard.

Th

[2016-03-16 07:41] DHoffm commented on #3233
I recognized something. In the following fiddle I used a fixed width and height: and called afterRowMove so set a height: http://jsfiddle.net/61vb7rko/

Somehow is scaled larger than the specified width and height.

[2016-03-16 08:11] AMBudnik commented on #3328
Confirmed
Demo: http://jsfiddle.net/handsoncode/3gpe2qq5/

[2016-03-16 08:49] AMBudnik commented on #3233
I can see what you mean @DHoffm
I'm reopening this issue as this bug was found while updating to 0.24.0

[0.23.0](http://jsfiddle.net/handsoncode/61vb7rko/1/)
Scenario: Resize any row
Result: Table `width` and `height` stays the same

[0.24.0](http://jsfiddle.net/handsoncode/61vb7rko/2/)
Scenario the same as above.
Result: table ignores `width` and `height` settings

[2016-03-16 09:24] AMBudnik commented on #1446
Feature added: https://docs.handsontable.com/0.24.0/demo-time.html in 0.24.0

[2016-03-16 09:25] jansiegel opened #3329 "updateSettings breaks the table size in 0.24.0"
When applying new settings using the `updateSettings` method, the table width and height are calculated wrong, unless they were defined as a non-inline CSS.

Originally reported in #3233

[2016-03-16 09:33] #3270 closed

[2016-03-16 09:42] AMBudnik commented on #1526
Hi @ryan-chambers @Areson I couln't reproduce it with the latest version 0.24.0 - could you check it also?
My demo: http://jsfiddle.net/handsoncode/ujgne7on/

[2016-03-16 10:04] AMBudnik commented on #2547
Hi @cbetech could you check it with the latest version? I should not occur since 0.23.0

[2016-03-16 10:07] AMBudnik commented on #2677
Hi @tsmith14 could you please check it with the latest Handsontable 0.24.0 version?

[2016-03-16 10:09] AMBudnik commented on #2953
Confirmed with 0.24.0

[2016-03-16 10:11] AMBudnik commented on #2907
Confirmed with 0.24.0

[2016-03-16 10:12] AMBudnik commented on #3026
Issue doesn't occur in 0.24.0
Updated demo: http://jsfiddle.net/handsoncode/x342f6kj/1/

[2016-03-16 10:12] #3026 closed

[2016-03-16 10:40] AMBudnik commented on #2002
Confirmed with 0.24.0, demo: http://jsfiddle.net/handsoncode/uygpwyod/2/

[2016-03-16 10:46] AMBudnik commented on #2368
I'm closing this issue in lack of recent activity but @ajinkyasingh27 if you still experience issues in this matter - please do not hesitate to leave your comment.

[2016-03-16 10:46] #2368 closed

[2016-03-16 10:58] AMBudnik commented on #1492
Issue confirmed with 0.24.0

[2016-03-16 11:00] AMBudnik commented on #1520
Confirmed with 0.24.0, demo sorting newest version: https://jsfiddle.net/handsoncode/7v97rzgm/1/

[2016-03-16 11:02] AMBudnik commented on #3188
Confirmed with 0.24.0

[2016-03-16 11:03] jrowen commented on #3320
Thanks for the solution. In this case, it seems the simpler solution will be to switch to a more appropriate font.

[2016-03-16 11:04] AMBudnik commented on #2610
Issue closed in lack of a replacement example

[2016-03-16 11:04] #2610 closed

[2016-03-16 11:13] AMBudnik commented on #2037
Hi @cr1ckt
Could you check if this occurs in 0.24.0 version also?
Thanks in advance.

[2016-03-16 11:16] AMBudnik commented on #2887
Confirmed with 0.24.0

[2016-03-16 11:31] AMBudnik commented on #3233
fixed with https://github.com/handsontable/handsontable/issues/3329

[2016-03-16 11:31] #3233 closed

[2016-03-16 12:12] jansiegel commented on #3233
@DHoffm Thanks for reporting this! As @AMBudnik mentioned, fix for this issue was just released as version `0.24.1`.

[2016-03-16 12:21] #3272 closed

[2016-03-16 12:21] #3183 closed

[2016-03-16 12:23] AMBudnik commented on #3280
As there's no reply after more than 2 weeks I assume that you found a solution or a workaround but if I'm wrong - please comment below and I'll reopen this issue.

[2016-03-16 12:23] #3280 closed

[2016-03-16 12:46] hemantmalpot commented on #2218
@AMBudnik : When the row height is little bigger, not able to see options on same window for drop down.
Please check the below link :
https://jsfiddle.net/hemantmalpote/b73vvnnf/1/
Go to row one and click on 'D' cell's drop down.
Unable to see options in that page, as it appears on bottom of cell.

[2016-03-16 13:12] DHoffm opened #3330 "manualRowResizer width"
Is there a way to adjust the manualRowResizer element to be the same width as specified by rowHeaderWidth.

[2016-03-16 13:16] AMBudnik commented on #2218
@hemantmalpot Thank you for additional information but the important question is how you would like it to behave in this example.
I know that it might be inelegant and not so user-friendly but how to change it to be better.

[2016-03-16 13:20] AMBudnik commented on #3300
duplicate of https://github.com/handsontable/handsontable/issues/3134

[2016-03-16 13:20] #3300 closed

[2016-03-16 13:21] AMBudnik commented on #3330
Hi @DHoffm
It is actually a bug. It wa added at https://github.com/handsontable/handsontable/issues/3287
If you would have any suggestions or tips please comment at https://github.com/handsontable/handsontable/issues/3287

[2016-03-16 13:21] #3330 closed

[2016-03-16 13:27] #2434 closed

[2016-03-16 13:30] AMBudnik commented on #2440
More than a feature than bug. We could add a column number as a key but that's only an idea.

[2016-03-16 13:32] AMBudnik commented on #2477
Confirmed with 0.24.1

[2016-03-16 13:34] AMBudnik commented on #2810
Does occur any more.

[2016-03-16 13:34] #2810 closed

[2016-03-16 13:35] AMBudnik commented on #2854
Issue no longer occurs.

[2016-03-16 13:35] #2854 closed

[2016-03-16 13:36] DHoffm commented on #3287
I tried the following: http://jsfiddle.net/jrtsepwj/ which didn't work. I thought the afterRender event is the right point to manipulate the width of the resizer...but somehow its not.

[2016-03-16 13:40] AMBudnik commented on #3055
Duplicate of https://github.com/handsontable/handsontable/issues/1492#issuecomment-197260931

[2016-03-16 13:40] #3055 closed

[2016-03-16 13:41] AMBudnik commented on #1492
as @dcsan wrote in https://github.com/handsontable/handsontable/issues/3079

[code]

![image](https://cloud.githubusercontent.com/assets/514002/11902395/5090511c-a566-11e5-8e78-2aed7ea717d4.png)

maybe related #3055

[2016-03-16 13:42] AMBudnik commented on #3079
I'm closing this issue. Please share additional information if needed at https://github.com/handsontable/handsontable/issues/1492

[2016-03-16 13:42] #3079 closed

[2016-03-16 13:45] AMBudnik commented on #3229
Issue no longer occurs.

[2016-03-16 13:45] #3229 closed

[2016-03-16 13:46] AMBudnik commented on #3244
Issue no longer occurs.

[2016-03-16 13:46] #3244 closed

[2016-03-16 13:51] AMBudnik commented on #2394
Confirmed with 0.24.1

[2016-03-16 14:06] AMBudnik commented on #2358
Confirmed with 0.24.1

[2016-03-16 14:11] AMBudnik commented on #2162
Confirmed with 0.24.1

[2016-03-16 14:11] hemantmalpot commented on #2218
![dropdownstyle](https://cloud.githubusercontent.com/assets/17879072/13815020/e51322f4-ebae-11e5-9c3b-6989ab3f2003.png)
Please check the above screen shot.

[2016-03-16 14:12] AMBudnik commented on #2218
Thanks for sharing @hemantmalpot I'm marking this issue as a improvement suggestiona to be discussed with team.

[2016-03-16 14:47] AMBudnik commented on #2594
Still occuring in 0.24.1

[2016-03-16 14:50] AMBudnik commented on #2607
Hi @deedoc I checked that with latest version 0.24.1 and it seems that it works fine. Can you check that please?

[2016-03-16 14:50] yohcop commented on #2594
"Still occurring", then close the issue??

[2016-03-16 14:55] AMBudnik commented on #2655
Issue no longer exists. Updated demo to 0.24.1: http://jsfiddle.net/yxpsz2wy/6/

[2016-03-16 14:55] #2655 closed

[2016-03-16 14:57] AMBudnik commented on #2672
Confirmed with 0.24.1 and related with https://github.com/handsontable/handsontable/issues/2162 as the issue occurs where there are no colHeaders

[2016-03-16 14:59] AMBudnik commented on #1722
Confirmed with 0.24.1

[2016-03-16 15:03] AMBudnik commented on #2334
Issue no longer exists. Please check update (0.24.1) demo: http://jsfiddle.net/Lj3xagn3/1/

[2016-03-16 15:03] #2334 closed

[2016-03-16 15:04] AMBudnik commented on #1811
I guess it's actually the same issue as https://github.com/handsontable/handsontable/issues/2440

[2016-03-16 15:04] #1811 closed

[2016-03-16 15:06] AMBudnik commented on #2600
Bug still occurs in 0.24.1

[2016-03-16 15:10] AMBudnik commented on #2314
Hi @toresenneseth I tried to check it with 0.24.1 and couldn't reproduce the issue - could you check it please?

[2016-03-16 15:12] AMBudnik commented on #1635
Still in 0.24.1

[2016-03-16 15:17] AMBudnik commented on #1785
Updated to 0.24.1 works as expected. Demo: https://jsfiddle.net/mzwbp2fz/4/

[2016-03-16 15:17] #1785 closed

[2016-03-16 15:20] AMBudnik commented on #2594
My bad! Thanks for feedback @yohcop

[2016-03-16 15:23] AMBudnik commented on #2292
Still present in 0.24.1 demo: https://jsfiddle.net/a0n4Lp4p/3/

[2016-03-16 15:25] AMBudnik commented on #1394
Confirmed with 0.24.1, demo: https://jsfiddle.net/zymsofgq/1/

[2016-03-16 15:32] AMBudnik commented on #2531
Same issue as https://github.com/handsontable/handsontable/issues/2672#issuecomment-197368098 just for other axis.

[2016-03-16 15:33] #2531 closed

[2016-03-16 15:35] AMBudnik commented on #2672
Confirmed with freezing columns and rows as mentioned in https://github.com/handsontable/handsontable/issues/2531

[2016-03-16 15:37] AMBudnik commented on #2473
Confirmed with 0.24.1

[2016-03-16 15:38] deedoc commented on #2607
Checked my demo - [](http://jsfiddle.net/kbwc0g6y/)
Almost everything seems ok - a normal object passes every time
But a have noticed that with `autoColumnSize: true` renderer called 8 times. I dare to suggest that it called twice for each cell because of autosizing

[2016-03-16 15:40] AMBudnik commented on #2214
in 0.24.1 we're getting `NaN`

[2016-03-16 15:48] basrita opened #3331 "column width size issue when freeze a paricular column."
Hi,

I am facing column width issue when freeze a column.The width of the freezed column will set to left most non freezable column.

Please help me in this regard.

Thanks in advance.

[2016-03-16 15:53] AMBudnik commented on #2607
Thanks for a prompt feedback @deedoc so maybe it's more like this issue https://github.com/handsontable/handsontable/issues/2152?

[2016-03-16 15:56] AMBudnik commented on #2831
Still in 0.24.1, demo: http://jsfiddle.net/29o6tsjL/4/

[2016-03-16 16:04] deedoc commented on #2607
In http://jsfiddle.net/tw9ec3bx/ from #2152 i can see situation, that worse then mine. Checked:

- `autoColumnSize: false` - everything is ok - one renderer call per one cell
- `autoColumnSize: true` - 3 (three!) calls per cell

[2016-03-16 18:44] desertdev opened #3332 "Inconsistent behavior between Shift+Tab and Shift+Enter"
When using custom functions for tabMoves and enterMoves, the returned object coordinates are automatically negated afterwards when Shift+Tab were pressed, but not when Shift+Enter were pressed.

Personally I would prefer if there was no automatic negation when custom functions are defined, but either way the two cases should behave consistently.

[2016-03-16 19:01] toresenneseth commented on #2314
Confirmed that an error is not thrown, but the side effect remains. No context menu is show if you click below the last row (or the table is empty). Why do I want to show the context menu? For example if you accidentally deleted the last row and want to undo (yes, I know ctrl-z will work), or more importantly, if you want to insert a new row when your table is empty.

My "hack" for doing this righ

[2016-03-16 20:06] krzysztofspilka commented on #3328
Not sure about the severity, @jansiegel could you confirm the priority?

[2016-03-16 21:48] desertdev commented on #3332
Clarification:

I'm actually only seeing this inconsistency when the the table is readonly. In this scenario, I want tab and enter keypresses to go up and down through through the rows.

For example, for a regular keypress without the Shift key my function returns { row: 1, col: 0 } to advance forward one row. Doing a Shift+Tab I can return the same result and it moves back one row. But for Shift+

[2016-03-16 22:37] ryan-chambers commented on #1526
That's great to hear. But the project using it was cancelled, so no way to test.

[2016-03-16 22:56] Areson commented on #1526
I'll try and take a look when I get a chance.

On Wed, Mar 16, 2016 at 3:37 PM, Ryan Chambers <notifications@github.com>
wrote:

[2016-03-16 23:18] krzysztofspilka commented on #3331
@basrita couldn't reproduce that. Can you create a create a simple jsfiddle and share it here? Thanks!

[2016-03-16 23:18] #3329 closed

[2016-03-17 02:03] tranvietha commented on #3322
Dear AMBudnik,

Tks for your response. I create global variable to save handsonable object and now I pass this issue.

However I meet other issue: in my project, i load 30 record from database pertime, in page 1, every thing is perfect. But in page 2, when i scroll from left to right, handsontable only have several column (I check in fire bug and they also have several column).

Thank you,

[2016-03-17 02:45] tranvietha commented on #3322
I have found solution for my issue:

https://github.com/handsontable/handsontable/issues/941#issuecomment-65611971

Thank for your help AMBudnik
:+1:

[2016-03-17 06:32] basrita commented on #3331
hi,

Here is the js fiddle example http://jsfiddle.net/bosfLdht/3/ please try to
freeze the column D you can observe the width difference.

Thanks.

[2016-03-17 06:53] #3322 closed

[2016-03-17 09:42] AMBudnik commented on #3331
I got:
![bez tytulu](https://cloud.githubusercontent.com/assets/10757813/13842104/b8b9ad30-ec2c-11e5-8408-f2b712d47d1f.png)

The issue here is the fact that new positions of columns doesn't correspond the width of its content, right?

[2016-03-17 09:44] AMBudnik commented on #1526
Thank you both

[2016-03-17 09:48] basrita commented on #3331
yes  @AMBudnik

On Thu, Mar 17, 2016 at 3:12 PM, Aleksandra Budnik <notifications@github.com

[2016-03-17 10:01] AMBudnik commented on #2314
Thanks for sharing additional information @toresenneseth

[2016-03-17 10:24] AMBudnik commented on #2607
so if you would have any additional information/suggestions or tips related to this issue please comment at https://github.com/handsontable/handsontable/issues/2152

[2016-03-17 10:24] #2607 closed

[2016-03-17 11:03] AMBudnik commented on #3331
I'm marking this as a bug.

[2016-03-17 11:09] AMBudnik commented on #3098
Hi @PedroTRX
I tried it with 0.24.1 and it seems to work fine.

Could you check it please?
Here's the updated demo: http://jsfiddle.net/06zsjpw8/1/

[2016-03-17 11:13] AMBudnik commented on #2499
Confirmed with 0.24.1

[2016-03-17 12:41] PedroTRX commented on #3098
Yes, it seems to be fixed.

thanks!

[2016-03-17 12:59] kquinn45 commented on #2713
This just started happening again with the newest Chrome update on 3/16/2016.

[2016-03-17 13:01] klikstermkd commented on #2713
@kquinn45 They enabled smooth scrolling by default in Chrome, that's why it started happening again.

[2016-03-17 13:06] kquinn45 commented on #2713
Anyway to fix it or should I just wait for an update to the Handsontable?

[2016-03-17 13:21] AMBudnik commented on #3098
Thanks for feedback @PedroTRX
Closing this issue.

[2016-03-17 13:21] #3098 closed

[2016-03-17 18:14] gstanislav opened #3333 "afterSelection should fire also when cell is programatically selected"
...or, in the interest of backwards-compatibility, a hook `afterProgrammaticSelection` can be added.

[2016-03-17 20:09] cgatesman commented on #3256
I didn't originally understand this as it's kind of a new feature in Handsontable.  As it turns out, this is exactly what I needed for my situation.  Thank you very much.

[2016-03-17 20:09] #3256 closed

[2016-03-17 20:14] mainstream95 commented on #3309
Chrome Version 49.0.2623.87 m
OS Windows 7.

Ram 4GB

Core i3 M 380 2.53 GHz

maybe.but as i say virtual rendering first 20 k and virtual rendering last 20k is very different.last is slow. If i could understand why, maybe its help me about some optimizations

[2016-03-17 23:20] jrowen commented on #3320
I switched to a new font, and the row wrap problem went away.  Unfortunately, I'm now seeing a row header miss-alignment (see http://jrowen.github.io/rhandsontable/).  It appears to be related to the checkbox column, as everything looks good if I exclude that column.

[2016-03-18 06:35] xfight0 commented on #3304
In ngHandsontable ,I used these js file, but  formula feature doen't woking
[code]

[2016-03-18 06:39] DHoffm opened #3334 "Nested arrays"
Hi is it possible to use nested arrays instead of objects.

Here is a fiddle:
https://jsfiddle.net/Ltgssgo6/

The data for name is an array. Seems it's not possible right away to access it via name[0] and name[1] on the loop.
My quick solution was to convert it to an object. Is there any other workaround or something I overlocked?

[2016-03-18 08:19] dev1909 commented on #3036
We need it to be fixed as soon as possible. Can you please publish the newest version where it's already fixed as a NuGet package?

[2016-03-18 08:49] AMBudnik commented on #3333
Hi @gstanislav
Please take a minute to check this demo http://jsfiddle.net/8jvbr66d/
I'm injecting `hot.selectCell(0.0)` into a `select` button and I'm receiving a log from `afterSelection`

[2016-03-18 08:56] AMBudnik commented on #3036
Hi @dev1909 actually as we were investigating this case it is related to few parts of code and it will take little longer to be fixed.

[2016-03-18 09:03] AMBudnik commented on #3334
Hi @DHoffm
maybe better way is to use [Handsontable cell type](https://docs.handsontable.com/0.24.1/demo-handsontable.html)

[2016-03-18 09:05] happyhero0 opened #3335 "Latest versions doen't support formula"
Dear developers, I found latest versions like 0.24 etc. can't support formula.
I have to use the very old version 0.14.
When dragging the cell right-bottom border to bottom,  it can't set right value using formula.
I found in the hook `beforeAutofillInsidePopulate`, the `iterators` is empty object.
And if the column has `type` and `formula`,  the formula feature doen't work ,why ?

[code]

Thank y

[2016-03-18 09:08] AMBudnik commented on #3320
@jrowen do you use any additional styling or a styling framework?

After I changed the font to `Arial` in you demo above http://jsfiddle.net/b9f4evx0/5/ I didn't get the same misalignment.

[2016-03-18 09:21] AMBudnik commented on #3304
Hi @xfight0
I'm back with good news. Our Roadmap was changed and we're starting to work on formulas.
I'm aware that it's a huge project but hopefully it'll be ready in May.

When it comes to formula issue I saw that you made a separate topic at https://github.com/handsontable/handsontable/issues/3335 so I'll reply there.

[2016-03-18 09:29] AMBudnik commented on #3335
Hi @xfight0
I made a demo using v0.24.1 and formulas support: http://jsfiddle.net/5y2xm08d/
Please guide me how to reproduce the issue

[2016-03-18 09:37] DHoffm commented on #3334
You mean the possibility of using a custom cell renderer?

[2016-03-18 09:41] AMBudnik commented on #3334
Custom cell renderer is always a best option where there are no posibilities to use predefined renderers. It all depends on an actual need.

[2016-03-18 09:46] xfight0 commented on #3335
@AMBudnik  Thank you for the example and responsibility.
After calculate a cell value using formula( for example: `=c2+d2`), in the jsfiddle example, the value is 7244, then I put cursor to the cell right-bottom corner and drag it down, arising a error:
[code]

This is a general operation in excel / mac numbers / google spreadsheets, after caculating a value with a formula, dragging the cell borde

[2016-03-18 10:08] AMBudnik commented on #3335
I reproduced the error - thank you for detailed reply. The issue seams to be older as it occurs using v0.24.0 also. I'm setting a bug label for this one.

When it comes to question - in the example above we're using default `text` cell type.
in example provided here http://jsfiddle.net/5y2xm08d/1/ I'm using `numeric` cell type for the first column and then if we type a formula `= C2 + D2` in `0, 0

[2016-03-18 10:44] jrowen commented on #3320
I'm using the [rmarkdown](http://rmarkdown.rstudio.com/) library with a [custom template](https://github.com/jrowen/rhandsontable/blob/gh-pages/index.Rmd) that [uses](http://rmarkdown.rstudio.com/html_document_format.html#appearance_and_style) the [bootswtach](http://bootswatch.com/) styling framework.

[2016-03-18 10:50] jansiegel commented on #1326
Hi, @mahinder!

I think it would be best, if you could provide us step-by-step instructions on how to use your gem in any form (gist, pdf, html page, doesn't matter), so we could test and review how it actually works before putting it in our documentation.
If you could also prepare a working demo, that would also be great!

And thanks for investing your time in this gem! :)

[2016-03-18 10:54] AMBudnik commented on #3320
so I guess there is a conflict between Handsontable styles and bootswatch template

[2016-03-18 11:05] AMBudnik commented on #2743
Confirmed with [0.24.1](http://docs.handsontable.com/0.24.1/demo-context-menu.html)

[2016-03-18 11:07] AMBudnik commented on #2706
I hope that at this point, if anybody really had any objections or major concerns with this issue they would have spoken by now. I'm closing this closing topic.

[2016-03-18 11:07] #2706 closed

[2016-03-18 11:11] AMBudnik commented on #2755
Hi,
I tried this with 0.24.0 version http://docs.handsontable.com/0.24.0/demo-fixing.html and it seams to work fine know.

Can you also check it please?

[2016-03-18 11:12] AMBudnik commented on #2944
Issue no longer effects the width of columns in v0.24.1

[2016-03-18 11:12] #2944 closed

[2016-03-18 11:15] AMBudnik commented on #2985
Couldn't reproduce with v0.24.1 on Window8 - FF 45
Could you check this one @jeanmarc78?

Thanks in advance!

[2016-03-18 11:19] AMBudnik commented on #468
Confirmed with 0.24.1 https://jsfiddle.net/j4jbh82w/1/ (added `outsideClickDeselects: false` for easier testing)

[2016-03-18 11:33] AMBudnik commented on #3016
Still present in 0.24.1, updated demo: http://jsfiddle.net/a8ts8w2q/1/

[2016-03-18 12:05] xfight0 commented on #3335
About the bug - column has `numeric` type doen't support formula, in example provided [here](https://jsfiddle.net/xfight9/v210mu8a/9/)

I used ngHandsontable, perhaps is there a bug in ngHandsontable?

[2016-03-18 12:06] AMBudnik opened #3336 "autoInsertRow doesn't work with multiple instances"
as written at https://forum.handsontable.com/t/multiple-instances-of-table-on-same-page/225

[2016-03-18 12:15] AMBudnik commented on #3335
@xfight0 actually the base of this issue is here https://github.com/handsontable/ngHandsontable/issues/76 but I hope that refactoring formulas will help in this case.

[2016-03-18 12:18] budnix commented on #3336
Connected with https://github.com/handsontable/handsontable/issues/3257.

[2016-03-18 12:33] AMBudnik commented on #2959
works as expected in v0.24.1, demo: http://jsfiddle.net/q92om1w2/7/

[2016-03-18 12:33] #2959 closed

[2016-03-18 12:36] AMBudnik commented on #2897
Still present in 0.24.1

[2016-03-18 12:38] AMBudnik commented on #401
present in 0.24.1

[2016-03-18 12:45] AMBudnik commented on #3063
Page structure rebuild.

[2016-03-18 12:45] #3063 closed

[2016-03-18 12:48] AMBudnik commented on #3087
Confirmed with 0.24.1 http://jsfiddle.net/qtavsvd5/
Changes made by user doesn't trigger `afterSetCellMeta `

[2016-03-18 12:52] AMBudnik commented on #3093
works fine with latest version: 0.24.1, updated demo: http://jsfiddle.net/wsv6L8fv/2/

[2016-03-18 12:52] #3093 closed

[2016-03-18 12:57] AMBudnik commented on #3117
still present in 0.24.1

[2016-03-18 12:59] AMBudnik commented on #3116
present in 0.24.1

[2016-03-18 13:15] DHoffm commented on #3334
Like so?
Example: https://jsfiddle.net/sbkwcfr5/

[2016-03-18 13:16] jrowen commented on #3320
I believe you're correct, as setting the theme to `null` in the template fixes the problem.

[2016-03-18 13:35] AMBudnik commented on #3320
@jrowen maybe there's a solution to overwrite one of few lines instead of disabling whole template as it's surely wanted to have one.

[2016-03-18 14:33] jrowen commented on #3320
I think it has something to do with `position: absolute` in `ht_clone_left handsontable`.  If I disable on (goes back to relative), the table looks better (you can try it on the first table at http://jrowen.github.io/rhandsontable/).  Do I need to override the css in the R library or is this something that should be handled by handsontable?  Thanks again for all the help here.

[2016-03-18 14:42] AMBudnik commented on #3320
http://rmarkdown.rstudio.com/ adds additonal styling to tables or it was added by you? It's always better to add few lines more than to change a library source code.

[2016-03-18 15:20] jrowen commented on #3320
I created a [template](https://raw.githubusercontent.com/jrowen/rhandsontable/gh-pages/index.Rmd?_sm_au_=iVVPVNwHsgD0sSwf) and the rmarkdown library used it to create a [html](https://github.com/jrowen/rhandsontable/blob/gh-pages/index.html) file.  I added a bit of [custom css](https://github.com/jrowen/rhandsontable/blob/gh-pages/custom.css) to the process.  The rhandsontable R library also adds

[2016-03-18 15:26] AMBudnik commented on #3320
Thanks for proving investigation results.

[2016-03-18 15:34] AMBudnik commented on #3128
Hi @vmlf01
I checked it with 0.24.1 and it seems it's working fine now.

[2016-03-18 15:36] AMBudnik commented on #3144
still present in 0.24.1

[2016-03-18 15:37] budnix commented on #3144
Connected with this branch https://github.com/handsontable/handsontable/tree/feature/checkbox-empty-selection (commit https://github.com/handsontable/handsontable/commit/6d44a9adb7710308fb29194e61217ee36ae70b9a)